<!-- <div class="container-fluid">
  <div class="card card-body">
    <h3 class="text-center">{{ "COMMON.DOCUMENTTYPEDETAIL" | translate }}</h3>
    <hr />
    <form
      #documentTypeDetailForm="ngForm"
      novalidate
      (ngSubmit)="documentTypeDetailForm?.form?.valid && submit()"
    >
      <div class="row form-row align-items-center">
        <div class="form-group col-md-2">
          <label>{{ "COMMON.PANJIYAKKARYALAY" | translate }}</label>
          <input
            type="text"
            class="form-control"
            name="upPanjiyakKaryalayElementName"
            [(ngModel)]="cs.upPanjiyakKaryalay"
            required
            [ngClass]="{
              'ng-select-invalid':
                documentTypeDetailForm?.submitted && !cs.upPanjiyakKaryalay
            }"
          />
        </div>
        <div class="form-group col-md-2">
          <label>{{ "COMMON.DOCUMENTTYPE" | translate }}</label>
          <ng-select
            name="documentType"
            [items]="cs.documentTypeList"
            bindLabel="Name"
            bindValue="Id"
            placeholder="Select Document Type"
            [(ngModel)]="cs.selectedDocumentTypeId"
            required
            [ngClass]="{
              'ng-select-invalid':
                documentTypeDetailForm?.submitted && !cs.selectedDocumentTypeId
            }"
          >
          </ng-select>
        </div>
        <div class="form-group col-md-2">
          <label>{{ "COMMON.DOCUMENTSHRENI" | translate }}</label>
          <ng-select
            name="documentShreni"
            [items]="cs.documentShreniList"
            bindLabel="Name"
            bindValue="Id"
            placeholder="Select Document Shreni"
            [(ngModel)]="cs.documentLevelId"
            required
            [ngClass]="{
              'ng-select-invalid':
                documentTypeDetailForm?.submitted &&
                !cs.documentLevelId
            }"
          >
          </ng-select>
        </div>
        <div class="form-group col-md-2">
          <label>{{ "COMMON.UNITOFAREA" | translate }}</label>
          <ng-select
            name="unitOfAreaElementName"
            [items]="cs.unitOfAreaList"
            bindLabel="Name"
            bindValue="Id"
            placeholder="Select Unit Of Area"
            [(ngModel)]="cs.selectedUnitOfAreaId"
            required
            [ngClass]="{
              'ng-select-invalid':
                documentTypeDetailForm?.submitted && !cs.selectedUnitOfAreaId
            }"
          >
          </ng-select>
        </div>
        <div class="form-group col-md-2">
          <label>{{ "COMMON.PRATIFALRASHITYPE" | translate }}</label>
          <ng-select
            name="pratifalRashiType"
            [items]="cs.amountTypeList"
            bindLabel="Name"
            bindValue="Id"
            placeholder="Select Pratifal Rashi Type"
            [(ngModel)]="cs.selectedPratifalRashiTypeId"
            required
            [ngClass]="{
              'ng-select-invalid':
                documentTypeDetailForm?.submitted &&
                !cs.selectedPratifalRashiTypeId
            }"
          >
          </ng-select>
        </div>
        <div
          class="form-group col-md-2"
          *ngIf="
            cs.selectedPratifalRashiTypeId &&
            cs.selectedPratifalRashiTypeId !== 2
          "
        >
          <label>{{ "COMMON.PRATIFALRASHI_NAGAD" | translate }}</label>
          <input
            type="number"
            class="form-control"
            name="pratifalRashiElementName"
            [(ngModel)]="cs.pratifalNagadRashi"
            required
            [ngClass]="{
              'ng-select-invalid':
                documentTypeDetailForm?.submitted && !cs.pratifalNagadRashi
            }"
          />
        </div>
      </div>
      <ng-container
        *ngIf="
          cs.selectedPratifalRashiTypeId && cs.selectedPratifalRashiTypeId !== 1
        "
      >
        <div
          class="row form-row align-items-center"
          *ngFor="
            let check of cs.checkAmountData;
            let i = index;
            let last = last
          "
        >
          <div class="form-group col-md-3">
            <label>{{ "COMMON.CHECKNO" | translate }}</label>
            <input
              type="text"
              class="form-control"
              name="checkNoElementName-{{ i }}"
              [(ngModel)]="check.checkNo"
              required
              [ngClass]="{
                'ng-select-invalid':
                  documentTypeDetailForm?.submitted && !check.checkNo
              }"
            />
          </div>
          <div class="form-group col-md-3">
            <label>{{ "COMMON.BANKNAME" | translate }}</label>
            <input
              type="text"
              class="form-control"
              name="bankNameElementName-{{ i }}"
              [(ngModel)]="check.bankName"
              required
              [ngClass]="{
                'ng-select-invalid':
                  documentTypeDetailForm?.submitted && !check.bankName
              }"
            />
          </div>
          <div class="form-group col-md-3">
            <label>{{ "COMMON.CHECKAMOUNT" | translate }}</label>
            <input
              type="number"
              class="form-control"
              name="checkAmountElementName-{{ i }}"
              [(ngModel)]="check.amount"
              required
              [ngClass]="{
                'ng-select-invalid':
                  documentTypeDetailForm?.submitted && !check.amount
              }"
            />
          </div>
          <div
            class="form-group col-md-1 pt-4"
            *ngIf="cs.checkAmountData?.length > 1"
          >
            <a
              href="javascript:void(0)"
              title="Remove Row"
              (click)="removeField(i)"
              ><i class="far fa-trash-alt fa-3x"></i
            ></a>
          </div>
          <div class="form-group col-md-1 pt-4" *ngIf="last">
            <a
              href="javascript:void(0)"
              title="Add Row"
              (click)="addCheckField()"
              ><i class="far fa-plus-square fa-3x"></i
            ></a>
          </div>
        </div>
      </ng-container>
      <h3>{{ "COMMON.SANLAGNSTAMPVIVARAN" | translate }}</h3>
      <div class="row form-row align-items-center">
        <div class="form-group col-md-4">
          <label>{{ "COMMON.STAMPVENDORNAME" | translate }}</label>
          <input
            type="text"
            class="form-control"
            name="stampVendorElementName"
            [(ngModel)]="cs.stampVendorName"
            required
            [ngClass]="{
              'ng-select-invalid':
                documentTypeDetailForm?.submitted && !cs.stampVendorName
            }"
          />
        </div>
        <div class="form-group col-md-4">
          <label>{{ "COMMON.REGISTERNO" | translate }}</label>
          <input
            type="text"
            class="form-control"
            name="registerNoElementName"
            [(ngModel)]="cs.stampRegisterNo"
            required
            [ngClass]="{
              'ng-select-invalid':
                documentTypeDetailForm?.submitted && !cs.stampRegisterNo
            }"
          />
        </div>
        <div class="form-group col-md-4">
          <label
            >{{ "COMMON.DATE" | translate }}
          </label>
          <div>
            <input [owlDateTimeTrigger]="dt3" [owlDateTime]="dt3" name="stampDateElementName" [(ngModel)]="cs.stampDate" />
            <owl-date-time [pickerType]="'calendar'"  #dt3></owl-date-time>
          </div>
        </div>
      </div>
      <div
        class="row form-row align-items-center"
        *ngFor="let stamp of cs.stampData; let i = index; let last = last"
      >
        <div class="form-group col-md-3">
          <label>{{ "COMMON.STAMPRATE" | translate }}</label>
          <input
            type="text"
            class="form-control"
            name="stampRateElementName- {{ i }}"
            [(ngModel)]="stamp.stampRate"
            required
            [ngClass]="{
              'ng-select-invalid':
                documentTypeDetailForm?.submitted && !stamp.stampRate
            }"
          />
        </div>
        <div class="form-group col-md-3">
          <label>{{ "COMMON.STAMPCOUNT" | translate }}</label>
          <input
            type="text"
            class="form-control"
            name="stampCountElementName- {{ i }}"
            [(ngModel)]="stamp.stampCount"
            required
            [ngClass]="{
              'ng-select-invalid':
                documentTypeDetailForm?.submitted && !stamp.stampCount
            }"
          />
        </div>
        <div class="form-group col-md-2">
          <label>{{ "COMMON.STAMPAMOUNT" | translate }}</label>
          <input
            type="text"
            class="form-control"
            name="stampAmountElementName- {{ i }}"
            [(ngModel)]="stamp.stampAmount"
            required
            [ngClass]="{
              'ng-select-invalid':
                documentTypeDetailForm?.submitted && !stamp.stampAmount
            }"
          />
        </div>
        <div class="form-group col-md-2">
          <label>{{ "COMMON.STAMPNO" | translate }}</label>
          <input
            type="text"
            class="form-control"
            name="stampNoElementName- {{ i }}"
            [(ngModel)]="stamp.stampSerialNo"
            required
            [ngClass]="{
              'ng-select-invalid':
                documentTypeDetailForm?.submitted && !stamp.stampSerialNo
            }"
          />
        </div>
        <div
          class="form-group col-md-1 pt-4"
          *ngIf="cs.stampData?.length > 1"
        >
          <a
            href="javascript:void(0)"
            title="Remove Row"
            (click)="removeStampField(i)"
            ><i class="far fa-trash-alt fa-3x"></i
          ></a>
        </div>
        <div class="form-group col-md-1 pt-4" *ngIf="last">
          <a href="javascript:void(0)" title="Add Row" (click)="addStampField()"
            ><i class="far fa-plus-square fa-3x"></i
          ></a>
        </div>
      </div>
      <div class="row form-row align-items-center">
        <div class="col-md-3 pt-3">
          <button
            type="submit"
            class="btn btn-primary waves-effect"
            style="width: inherit;"
          >
            Save & Next
          </button>
        </div>
      </div>
    </form>
  </div>
</div> -->
