<div class="card card-body">
    <h3 class="text-center">{{'COMMON.USERS' | translate}}</h3>
    <div class="row">
        <div class="col-md-12">
          <table class="table table-bordered table-hover table-responsive-lg">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">{{ 'COMMON.NAME' | translate }}</th>
                  <th scope="col">{{ 'COMMON.MOBILENO' | translate }}</th>
                  <th scope="col">{{ 'COMMON.EMAIL' | translate }}</th>
                  <th scope="col">{{ 'COMMON.PASSWORD' | translate }}</th>
                  <!-- <th scope="col">Action</th> -->
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of userlist; let i = index;">
                  <th scope="row">{{i + 1}}</th>
                  <td>{{item?.name}}</td>
                  <td>{{item?.mobileNo}}</td>
                  <td>{{item?.email}}</td>
                  <td>{{item?.password}}</td>
                  <!-- <td>
                    <a href="javascript:void(0)" title="Edit" (click)="editUsers(item)"><i class="far fa-edit p-1"></i></a>
                    <a href="javascript:void(0)" title="Delete" (click)="deleteUsers(item, i)"><i class="far fa-trash-alt p-1"></i></a>
                  </td> -->
                </tr>
              </tbody>
            </table>
        </div>
    </div>
</div>