<div class="container-fluid">
    <div class="card card-body">
      <h3 class="text-center">{{ 'COMMON.PARTYDETAIL' | translate }}</h3>
      <hr>
        <form #partyDetailForm="ngForm" novalidate 
        (ngSubmit)="partyDetailForm?.form?.valid && submit()">
          <div class="row form-row align-items-center">
              <div class="form-group col-md-3">
                  <label>{{ 'COMMON.CUSTOMERTYPE' | translate }}</label>
                  <ng-select
                    name="userType"
                    [items]="cs.userTypeList"
                    bindLabel="Name"
                    bindValue="Id"
                    placeholder="{{ 'COMMON.CUSTOMERTYPE' | translate }}"
                    [(ngModel)]="selectedUserTypeId"
                    required
                    [ngClass]="{
                      'ng-select-invalid': partyDetailForm?.submitted && !selectedUserTypeId
                    }"
                  >
                  </ng-select>
                </div>
                <div class="form-group col-md-3">
                  <label>{{ 'COMMON.NAME' | translate }}</label>
                  <input
                    type="text"
                    class="form-control"
                    name="userElementName"
                    [(ngModel)]="userName"
                    required
                    [ngClass]="{
                      'ng-select-invalid': partyDetailForm?.submitted && !userName
                    }"
                  />
                </div>
                <div class="form-group col-md-3">
                  <label>{{ 'COMMON.FATHERNAME' | translate }}</label>
                  <input
                    type="text"
                    class="form-control"
                    name="fatherElementName"
                    [(ngModel)]="fatherName"
                    required
                    [ngClass]="{
                      'is-invalid': partyDetailForm?.submitted && !fatherName
                    }"
                  />
                </div>
                <div class="form-group col-md-1">
                  <label>{{ 'COMMON.AGE' | translate }}</label>
                  <input
                    type="number"
                    class="form-control"
                    name="ageElementName"
                    [(ngModel)]="age"
                    required
                    [ngClass]="{'is-invalid': partyDetailForm?.submitted && !age}"
                  />
                </div>
                <div class="form-group col-md-2">
                  <label>{{ 'COMMON.CAST' | translate }}</label>
                  <input
                    type="text"
                    class="form-control"
                    name="castElementName"
                    [(ngModel)]="cast"
                    required
                    [ngClass]="{
                      'is-invalid': partyDetailForm?.submitted && !cast
                    }"
                  />
                </div>
                <div class="form-group col-md-3">
                  <label>{{ 'COMMON.ADDRESS' | translate }}</label>
                  <input
                    type="text"
                    class="form-control"
                    name="addressElementName"
                    [(ngModel)]="address"
                    required
                    [ngClass]="{
                      'is-invalid': partyDetailForm?.submitted && !address
                    }"
                  />
                </div>
                <div class="form-group col-md-3">
                  <label>{{ 'COMMON.AADHARNO' | translate }}</label>
                  <input
                    type="text"
                    class="form-control"
                    name="aadharElementName"
                    [(ngModel)]="adharNo"
                    required
                    [ngClass]="{
                      'is-invalid': partyDetailForm?.submitted && !adharNo
                    }"
                  />
                </div>
                <div class="form-group col-md-3">
                  <label>{{ 'COMMON.PANNO' | translate }}</label>
                  <input
                    type="text"
                    class="form-control"
                    name="panNoElementName"
                    [(ngModel)]="panNo"
                    required
                    [ngClass]="{
                      'is-invalid': partyDetailForm?.submitted && !panNo
                    }"
                  />
                </div>
                <div class="form-group col-md-3">
                  <label>{{ 'COMMON.MOBILENO' | translate }}</label>
                  <input
                    type="number"
                    class="form-control"
                    name="mobileElementName"
                    [(ngModel)]="mobileNo"
                    required
                    [ngClass]="{
                      'is-invalid': partyDetailForm?.submitted && !mobileNo
                    }"
                  />
                </div>
                <div class="col-md-3 pt-3" >
                  <button style="width: inherit;"
              type="submit"
              class="btn btn-primary waves-effect"
            >
              Save
            </button>
              </div>
          </div>
        </form>     
    </div>
    <div class="card card-body">
        <div class="row">
            <div class="col-md-12">
              <table class="table table-bordered table-hover table-responsive-lg">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">{{ 'COMMON.CUSTOMERTYPE' | translate }}</th>
                      <th scope="col">{{ 'COMMON.NAME' | translate }}</th>
                      <th scope="col">{{ 'COMMON.FATHERNAME' | translate }}</th>
                      <th scope="col">{{ 'COMMON.AGE' | translate }}</th>
                      <th scope="col">{{ 'COMMON.CAST' | translate }}</th>
                      <th scope="col">{{ 'COMMON.ADDRESS' | translate }}</th>
                      <th scope="col">{{ 'COMMON.AADHARNO' | translate }}</th>
                      <th scope="col">{{ 'COMMON.PANNO' | translate }}</th>
                      <th scope="col">{{ 'COMMON.MOBILENO' | translate }}</th>
                      <th scope="col">Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of partyDetailList; let i = index;">
                      <th scope="row">{{i + 1}}</th>
                      <td>{{item?.userTypeName}}</td>
                      <td>{{item?.name}}</td>
                      <td>{{item?.fatherName}}</td>
                      <td>{{item?.age}}</td>
                      <td>{{item?.cast}}</td>
                      <td>{{item?.address}}</td>
                      <td>{{item?.aadharNo}}</td>
                      <td>{{item?.panNo}}</td>
                      <td>{{item?.mobileNo}}</td>
                      <td>
                        <a href="javascript:void(0)" title="Edit" (click)="editDetail(item)"><i class="far fa-edit p-1"></i></a>
                        <a href="javascript:void(0)" title="Delete" (click)="deleteDetail(item, i)"><i class="far fa-trash-alt p-1"></i></a>
                      </td>
                    </tr>
                  </tbody>
                </table>
            </div>
        </div>
    </div>
  </div>
  