#mainNav{
  padding: 0.2rem !important;
}
.navbar-brand {
  font-size: 2rem;
  text-shadow: 2px 2px var(--black);
}
.account {
  margin-top: -5px;
}
div[aria-labelledby="userAccountId"] {
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
  top: 2.5rem !important;
  right: 0.5rem !important;
  .dropdown-divider {
    margin: 0rem !important;
  }
}
.acc-dropdown-header {
  background: var(--dark-home-color);
  font-weight: bold;
  color: var(--white);
}
.dropdown-item.hover-color{
  font-size: 15px;
  text-align: left;
}
.dropdown-item.hover-color:hover,
.dropdown-item.hover-color:focus {
  color: var(--white);
  background-color: var(--dark-home-color) !important;
}

.dropdown-menu {
  border: 0px !important;
}
