<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light" id="mainNav">
  <div class="container">
    <a class="navbar-brand js-scroll-trigger" href="javascript:void(0)" [routerLink]="['/home']"
      routerLinkActive="router-link-active">{{
      "Registry" | uppercase
      }}</a><button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
      data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto my-2 my-lg-0">
        <li class="nav-item mx-2">
          <a class="nav-link js-scroll-trigger" href="javascript:void(0)" [routerLink]="['/home', 'about']"
            routerLinkActive="router-link-active">{{ "About" |
            uppercase }}</a>
        </li>
        <li class="nav-item mx-2">
          <a class="nav-link js-scroll-trigger" href="javascript:void(0)" [routerLink]="['/home', 'contact']"
            routerLinkActive="router-link-active">{{ "Contact"
            | uppercase }}</a>
        </li>
        <li class="nav-item mx-2" *ngIf="!cs?.isLogin">
          <a class="nav-link js-scroll-trigger" href="javascript:void(0)" [routerLink]="['/signin-signup']"
            routerLinkActive="active" [queryParams]="{ type: 'signin' }">{{ "Login" | uppercase }}</a>
        </li>
        <li class="nav-item mx-2 dropdown show" *ngIf="cs?.isLogin">
          <a class="nav-link js-scroll-trigger account" href="#" id="userAccountId" data-toggle="dropdown">
            <i class="fas fa-2x fa-user-circle"></i></a>
          <div class="dropdown-menu border-color dropdown-menu-right p-0 m-0" aria-labelledby="userAccountId">
            <a class="dropdown-item acc-dropdown-header text-center" href="javascript:void(0)">
              <div>{{cs?.userInfo?.name}}</div>
              <div>({{cs?.userInfo?.mobileNo}})</div>
              <!-- <div>bharatprj28@gmail.com</div> -->
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item pl-2 hover-color" href="javascript:void(0)" [routerLink]="['/signin-signup']"
              routerLinkActive="active" [queryParams]="{ type: 'change-password' }">Change Password</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item pl-2 hover-color" href="javascript:void(0)" (click)="cs.logout()">Logout</a>
          </div>
        </li>
        <!-- <li class="nav-item dropdown no-arrow mx-2">
          <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-globe fa-1x"></i>
          </a>
          <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
            <a class="dropdown-item" href="javascript:void(0)" (click)="cs.useLanguage('hi')">
              <img src="../../assets/icons/india.svg" alt="" class="svg-icon">
              Hindi
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="javascript:void(0)" (click)="cs.useLanguage('en')">
              <img src="../../assets/icons/united-states-of-america.svg" class="svg-icon" alt="">
              English
            </a>
          </div>
        </li> -->
      </ul>
    </div>
  </div>
</nav>