:root {
  background: #545b62d9;
}

body {
  background: none;
  width: 100%;
  margin: 0px;
  float: none;
}

@page {
  size: Legal;
  margin-top: 3cm !important;
  margin-bottom: 3cm !important;
}

@font-face {
  font-family: Mangal;
  src: url(../fonts/Mangal\ Regular.ttf);
}

.page {
  margin: auto;
  margin-top: 2cm !important;
  margin-bottom: 2cm !important;
  font-family: Mangal !important;
  font-size: 16px !important;
  line-height: 1.5 !important;
  color: black !important;
  word-wrap: break-word !important;
  width: 7.5in !important;

  background-color: white;
  border: 1px solid #545b62d9;
  padding: 2cm;
}

.page_break_before {
  page-break-before: always;
}

@media print {
  :root {
    background: white;
  }
  hr {
    display: none;
  }
  .page {
    background-color: white;
    border: none;
    padding: unset;
  }
}
