<div class="login-container"
    [ngClass.xs]="{ 'pl-0': true, 'pr-0': true }">
  <div
    class="card card-body p-3 login-card"
  >
    <h3 class="text-center font-weight-bold">
      {{
        (isRegistered && !forgotPassword
          ? "COMMON.SIGNIN"
          : !isRegistered && !forgotPassword
          ? "COMMON.SIGNUP"
          : "COMMON.FORGOT_PASSWORD"
        ) | translate
      }}
    </h3>
    <hr class="mb-4" />
    <form
      #signInSignUpForm="ngForm"
      novalidate
      (ngSubmit)="signInSignUpForm?.form?.valid && validateForm() && submit()"
    >
      <div class="row form-row">
        <div class="form-group col-md-12" *ngIf="!isRegistered">
          <label>{{'COMMON.NAME'| translate}}</label>
          <input
            type="text"
            class="form-control"
            name="userElementName"
            [(ngModel)]="userName"
            required
            [ngClass]="{
              'ng-select-invalid': signInSignUpForm?.submitted && !userName
            }"
          />
        </div>
        <div class="form-group col-md-12" *ngIf="!forgotPassword">
          <label>{{'COMMON.MOBILENO'| translate}}</label>
          <input
            type="number"
            class="form-control"
            name="mobileNoElementName"
            [(ngModel)]="mobileNo"
            required
            [ngClass]="{
              'ng-select-invalid': signInSignUpForm?.submitted && !mobileNo
            }"
          />
        </div>
        <div class="form-group col-md-12" *ngIf="!isRegistered">
          <label>{{'COMMON.EMAIL'| translate}}</label>
          <input
            type="email"
            class="form-control"
            name="emailElementName"
            [(ngModel)]="email"
            required
            [ngClass]="{
              'ng-select-invalid': signInSignUpForm?.submitted && !email
            }"
          />
        </div>
        <div class="form-group col-md-12">
          <label>{{ forgotPassword ? 'नया पासवर्ड' : 'पासवर्ड' }}</label>
          <input
            type="password"
            class="form-control"
            name="passwordElementName"
            [(ngModel)]="userPassword"
            required
            [ngClass]="{
              'ng-select-invalid': signInSignUpForm?.submitted && !userPassword
            }"
          />
        </div>
        <div class="form-group col-md-12" *ngIf="forgotPassword">
          <label>कन्फर्म पासवर्ड</label>
          <input
            type="password"
            class="form-control"
            name="confirmPasswordElementName"
            [(ngModel)]="userConfirmPassword"
            required
            [ngClass]="{
              'ng-select-invalid': signInSignUpForm?.submitted && !userConfirmPassword
            }"
          />
        </div>
        <div class="col-md-12 pt-3 text-center">
          <button type="submit" class="btn btn-primary waves-effect btn-block login-submit-btn">
            Submit
          </button>
        </div>
      </div>
      <div
        class="row text-center p-1"
        *ngIf="!isRegistered && !forgotPassword"
      >
        <div class="col">
          Already Registered?
          <a
            href="javascript:void(0)"
            (click)="(isRegistered = true)"
            >Sign In</a
          >
        </div>
      </div>
      <div class="row text-center p-1" *ngIf="isRegistered && !forgotPassword">
        <div class="col">
          New Customer?
          <a href="javascript:void(0)" (click)="isRegistered = false"
            >Create an account</a
          >
        </div>
      </div>
      <!-- <div class="row text-center p-1" *ngIf="isRegistered && !forgotPassword">
        <div class="col">
          Forgot Password?
          <a href="javascript:void(0)" (click)="forgotPassword = true"
            >Change Password</a
          >
        </div>
      </div> -->
    </form>
  </div>
</div>
