.x-y-center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.y-center {
  margin: 0 !important;
  position: absolute !important;
  top: 50% !important;
  -ms-transform: translateY(-50%) !important;
  transform: translateY(-50%) !important;
}

.card {
  background-color: var(--light-red);
}
.login-submit-btn {
  background-color: var(--black);
  border-radius: 4rem;
}
.login-submit-btn:hover{
  background-color: var(--white);
  color: var(--black);
}
.login-container{
  width: 100%;
  height: 100%;
  padding-top: 4rem;
  background-color: var(--dark-mehandi);
}
.login-card {
  width: 25rem;
  margin: auto;
}

/* Media Query for Mobile Devices */
@media (max-width: 768px) {
  .login-container{
    padding: 0%;
  }
  .login-card {
    width: 100%;
    margin-left: 0%;
  }
}
