<div class="container-fluid">
  <div class="row text-center p-1">
    <div class="col-xl-9 col-lg-9 col-md-9 col-sm-12">
      <h4>{{ "COMMON.DOCUMENT_LIST" | translate }}</h4>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">
      <button class="btn btn-outline-primary" (click)="addNewDocument()">
        {{ "COMMON.ADD_DOCUMENT" | translate }}
      </button>
    </div>
  </div>
  <div class="card card-body">
    <div class="row">
      <div class="col-md-12">
        <table class="table table-bordered table-hover table-responsive-lg">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">{{ "COMMON.DOCUMENT_NO" | translate }}</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let document of documentList; let i = index">
              <th scope="row">{{ i + 1 }}</th>
              <td>{{ document?.documentNo }}</td>
              <td>
                <a href="javascript:void(0)" title="Print" (click)="convertHtmlToPdf()"><i
                    class="fas fa-print fa-1x"></i></a>
                <a href="javascript:void(0)" title="Edit" (click)="addNewDocument(document)"><i
                    class="far fa-edit p-1"></i></a>
                <!-- <a
                  href="javascript:void(0)"
                  title="Delete"
                  (click)="deleteDocument(document, i)"
                  ><i class="far fa-trash-alt p-1"></i
                ></a> -->
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<ng-container #docAddContainerRef></ng-container>

<!-- Print Sections -->

<div id="print-section" class="m-5" hidden>
  <div class="print-content">
    <div id="application" class="page">
      <p
        style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:0in;line-height:normal;font-size:15px;font-family:"Calibri","sans-serif";text-align:justify;'>
        <span style='font-size:16px;font-family:"Mangal","serif";'>सेवामें</span><span
          style="font-size:16px;">,&nbsp;&nbsp;</span></p>
      <p
        style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:0in;line-height:normal;font-size:15px;font-family:"Calibri","sans-serif";text-align:justify;'>
        <span style="font-size:16px;">&nbsp;</span></p>
      <p
        style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:0in;line-height:normal;font-size:15px;font-family:"Calibri","sans-serif";text-align:justify;'>
        <span style="font-size:16px;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</span><span
          style='font-size:16px;font-family:"Mangal","serif";'>श्रीमान् उप पंजीयक महोदय</span><span
          style="font-size:16px;">,</span></p>
      <p
        style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:0in;line-height:normal;font-size:15px;font-family:"Calibri","sans-serif";text-align:justify;'>
        <span style="font-size:16px;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;.....................</span></p>
      <p
        style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:0in;line-height:normal;font-size:15px;font-family:"Calibri","sans-serif";text-align:justify;'>
        <span style="font-size:16px;">&nbsp;</span></p>
      <p
        style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:0in;line-height:normal;font-size:15px;font-family:"Calibri","sans-serif";text-align:justify;'>
        <span style="font-size:16px;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</span><span
          style='font-size:16px;font-family:"Mangal","serif";'>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
          &nbsp; &nbsp; विषय: विक्रय पत्र का पंजीयन करने हेतु।</span></p>
      <p
        style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:0in;line-height:normal;font-size:15px;font-family:"Calibri","sans-serif";text-align:justify;'>
        <span style="font-size:16px;">&nbsp;</span></p>
      <p
        style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:0in;line-height:normal;font-size:15px;font-family:"Calibri","sans-serif";text-align:justify;'>
        <span style='font-size:16px;font-family:"Mangal","serif";'>मान्यवर</span><span style="font-size:16px;">,</span>
      </p>
      <p
        style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:0in;line-height:normal;font-size:15px;font-family:"Calibri","sans-serif";text-align:justify;'>
        <span style="font-size:16px;">&nbsp;</span></p>
      <p
        style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:0in;line-height:normal;font-size:15px;font-family:"Calibri","sans-serif";text-align:justify;'>
        <span style='font-size:16px;font-family:"Mangal","serif";'>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
          &nbsp; &nbsp; &nbsp;निवेदन है कि ग्राम ............... पटवार मंडल............. तहसील
          ........................जिला ................ की भूमि खसरा संख्या ................... क्षैत्रफल
          ................................ / हिस्सा ................ के हिस्से ..................... का क्रेता
          ............................................................ को &nbsp;....................... रूपये में विक्रय
          किया है। जिसका विक्रय पत्र पंजीयन हेतु प्रस्तुत है।</span></p>
      <p
        style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:0in;line-height:normal;font-size:15px;font-family:"Calibri","sans-serif";text-align:justify;'>
        <span style='font-size:16px;font-family:"Mangal","serif";'>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
          &nbsp; &nbsp; अतः निवेदन है कि विक्रय पत्र का पंजीयन किया जाकर मूल ही विक्रय पत्र क्रेता को दे दिया
          जावे।</span></p>
      <p
        style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:0in;line-height:normal;font-size:15px;font-family:"Calibri","sans-serif";text-align:justify;'>
        <span style="font-size:16px;">&nbsp;</span></p>
      <p
        style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:0in;line-height:normal;font-size:15px;font-family:"Calibri","sans-serif";text-align:justify;'>
        <span style="font-size:16px;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
          &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
          &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</span><span style='font-size:16px;font-family:"Mangal","serif";'>&nbsp;
          &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;प्रार्थी</span></p>
      <p
        style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:0in;line-height:normal;font-size:15px;font-family:"Calibri","sans-serif";text-align:justify;'>
        <span style='font-size:16px;font-family:"Mangal","serif";'>दिनांक</span></p>
      <p
        style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:241.0pt;line-height:normal;font-size:15px;font-family:"Calibri","sans-serif";text-align:justify;'>
        <span style='font-size:16px;font-family:"Mangal","serif";'>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
          &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;वेंक्टेश्वर राठी पुत्र श्री दामोदरदास
          राठी जाति महाजन निवासी उन्हेल&nbsp;</span></p>
    </div>
    <hr>
    <div id="vikrayPatra" class="page page_break_before">
      <p
        style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:0in;line-height:normal;font-size:15px;font-family:"Calibri","sans-serif";text-align:justify;'>
        <span style="font-size:16px;">&nbsp;</span></p>
      <p
        style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:0in;line-height:normal;font-size:15px;font-family:"Calibri","sans-serif";text-align:center;'>
        <span style='font-size:21px;font-family:"Mangal","serif";'>-----&nbsp;</span><span
          style='font-size:21px;font-family:"Arial Unicode MS","sans-serif";'>विक्रय</span><span
          style='font-size:21px;font-family:"Mangal","serif";'>-</span><span
          style='font-size:21px;font-family:"Arial Unicode MS","sans-serif";'>पत्र</span><span
          style="font-size:21px;">&nbsp;</span><span style='font-size:21px;font-family:"Mangal","serif";'>-----</span>
      </p>
      <p
        style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:0in;line-height:normal;font-size:15px;font-family:"Calibri","sans-serif";text-align:justify;'>
        <span style="font-size:16px;">&nbsp;</span></p>
      <p
        style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:0in;line-height:normal;font-size:15px;font-family:"Calibri","sans-serif";text-align:justify;'>
        <span style='font-size:16px;font-family:"Arial Unicode MS","sans-serif";'>यह विक्रय</span><span
          style='font-size:16px;font-family:"Mangal","serif";'>-</span><span
          style='font-size:16px;font-family:"Arial Unicode MS","sans-serif";'>पत्र आज दिनांक&nbsp;</span><span
          style='font-size:16px;font-family:"Mangal","serif";'>......................&nbsp;</span><span
          style='font-size:16px;font-family:"Arial Unicode MS","sans-serif";'>&nbsp;को निम्न विक्रेता व क्रेता के मध्य
          निष्पादित किया गया है।</span></p>
      <p
        style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:0in;line-height:normal;font-size:15px;font-family:"Calibri","sans-serif";text-align:justify;'>
        <span style="font-size:13px;">&nbsp;</span></p>
      <p
        style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:0in;line-height:normal;font-size:15px;font-family:"Calibri","sans-serif";text-align:justify;'>
        <span style='font-size:16px;font-family:"Arial Unicode MS","sans-serif";'>विक्रेता&nbsp;</span><span
          style='font-size:16px;font-family:"Mangal","serif";'>(&nbsp;</span><span
          style='font-size:16px;font-family:"Arial Unicode MS","sans-serif";'>प्रथम पक्ष&nbsp;</span><span
          style='font-size:16px;font-family:"Mangal","serif";'>)----</span></p>
      <p
        style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:0in;line-height:normal;font-size:15px;font-family:"Calibri","sans-serif";text-align:justify;'>
        <span style="font-size:16px;">&nbsp;</span></p>
      <ol style="list-style-type: decimal;margin-left:4.199999999999999px;">
        <li><span style='font-family:"Arial Unicode MS","sans-serif";font-size:12.0pt;'>श्री&nbsp;</span><span
            style='font-family:"Mangal","serif";font-size:16px;'>..................................&nbsp;</span><span
            style='font-family:"Arial Unicode MS","sans-serif";font-size:12.0pt;'>पुत्र श्री&nbsp;</span><span
            style='font-family:"Mangal","serif";font-size:16px;'>.....................................&nbsp;</span><span
            style='font-family:"Arial Unicode MS","sans-serif";font-size:12.0pt;'>आयु</span><span
            style='font-family:"Mangal","serif";'>&nbsp;..........&nbsp;</span><span
            style='font-family:"Arial Unicode MS","sans-serif";'>निवास&nbsp;</span><span
            style="font-size:12.0pt;;">.......................&nbsp;</span><span
            style='font-family:"Arial Unicode MS","sans-serif";'>आधार संख्या&nbsp;</span><span
            style='font-family:"Mangal","serif";font-size:16px;'>..................... &nbsp;</span><span
            style="font-family:Mangal;">PAN&nbsp;</span><span
            style='font-family:"Arial Unicode MS","sans-serif";'>संख्या&nbsp;</span><span
            style='font-family:"Mangal","serif";font-size:16px;'>...............</span><span
            style='font-family:"Arial Unicode MS","sans-serif";font-size:12.0pt;'>&nbsp;मोबाईल सं</span><span
            style='font-family:"Mangal","serif";font-size:16px;'>. ....................</span></li>
        <li><span style='font-family:"Arial Unicode MS","sans-serif";font-size:12.0pt;'>श्री&nbsp;</span><span
            style='font-family:"Mangal","serif";font-size:16px;'>..................................&nbsp;</span><span
            style='font-family:"Arial Unicode MS","sans-serif";font-size:12.0pt;'>पुत्र श्री&nbsp;</span><span
            style='font-family:"Mangal","serif";font-size:16px;'>.....................................&nbsp;</span><span
            style='font-family:"Arial Unicode MS","sans-serif";font-size:12.0pt;'>आयु&nbsp;</span><span
            style='font-family:"Mangal","serif";'>..........&nbsp;</span><span
            style='font-family:"Arial Unicode MS","sans-serif";'>निवास&nbsp;</span><span
            style="font-size:12.0pt;;">.......................&nbsp;</span><span
            style='font-family:"Arial Unicode MS","sans-serif";'>आधार संख्या&nbsp;</span><span
            style='font-family:"Mangal","serif";font-size:16px;'>..................... &nbsp;</span><span
            style="font-family:Mangal;">PAN&nbsp;</span><span
            style='font-family:"Arial Unicode MS","sans-serif";'>संख्या&nbsp;</span><span
            style='font-family:"Mangal","serif";font-size:16px;'>...............</span><span
            style='font-family:"Arial Unicode MS","sans-serif";font-size:12.0pt;'>&nbsp;मोबाईल सं</span><span
            style='font-family:"Mangal","serif";font-size:16px;'>. ....................</span></li>
        <li><span style='font-family:"Arial Unicode MS","sans-serif";font-size:12.0pt;'>श्री&nbsp;</span><span
            style='font-family:"Mangal","serif";font-size:16px;'>..................................&nbsp;</span><span
            style='font-family:"Arial Unicode MS","sans-serif";font-size:12.0pt;'>पुत्र श्री&nbsp;</span><span
            style='font-family:"Mangal","serif";font-size:16px;'>.....................................&nbsp;</span><span
            style='font-family:"Arial Unicode MS","sans-serif";font-size:12.0pt;'>आयु&nbsp;</span><span
            style='font-family:"Mangal","serif";'>..........&nbsp;</span><span
            style='font-family:"Arial Unicode MS","sans-serif";'>निवास&nbsp;</span><span
            style="font-size:12.0pt;;">.......................&nbsp;</span><span
            style='font-family:"Arial Unicode MS","sans-serif";'>आधार</span><span
            style='font-family:"Mangal","serif";font-size:16px;'>&nbsp;</span><span
            style='font-family:"Arial Unicode MS","sans-serif";font-size:12.0pt;'>संख्या&nbsp;</span><span
            style='font-family:"Mangal","serif";'>..................... &nbsp;</span><span
            style="font-family:Mangal;">PAN&nbsp;</span><span
            style='font-family:"Arial Unicode MS","sans-serif";'>संख्या&nbsp;</span><span
            style='font-family:"Mangal","serif";font-size:16px;'>...............</span><span
            style='font-family:"Arial Unicode MS","sans-serif";font-size:12.0pt;'>&nbsp;मोबाईल सं</span><span
            style='font-family:"Mangal","serif";font-size:16px;'>. ....................</span></li>
      </ol>
      <p
        style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:0in;line-height:normal;font-size:15px;font-family:"Calibri","sans-serif";text-align:justify;'>
        <span style="font-size:16px;">&nbsp;</span></p>
      <p
        style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:0in;line-height:normal;font-size:15px;font-family:"Calibri","sans-serif";text-align:justify;'>
        <span style='font-size:16px;font-family:"Arial Unicode MS","sans-serif";'>क्रेता&nbsp;</span><span
          style='font-size:16px;font-family:"Mangal","serif";'>(&nbsp;</span><span
          style='font-size:16px;font-family:"Arial Unicode MS","sans-serif";'>द्वितीय पक्ष&nbsp;</span><span
          style='font-size:16px;font-family:"Mangal","serif";'>)----</span></p>
      <p
        style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:0in;line-height:normal;font-size:15px;font-family:"Calibri","sans-serif";text-align:justify;'>
        <span style="font-size:16px;">&nbsp;</span></p>
      <ol style="list-style-type: decimal;margin-left:4.199999999999999px;">
        <li><span style='font-family:"Arial Unicode MS","sans-serif";font-size:12.0pt;'>श्री&nbsp;</span><span
            style='font-family:"Mangal","serif";font-size:16px;'>..................................&nbsp;</span><span
            style='font-family:"Arial Unicode MS","sans-serif";font-size:12.0pt;'>पुत्र श्री&nbsp;</span><span
            style='font-family:"Mangal","serif";font-size:16px;'>.....................................&nbsp;</span><span
            style='font-family:"Arial Unicode MS","sans-serif";font-size:12.0pt;'>आयु&nbsp;</span><span
            style='font-family:"Mangal","serif";'>..........&nbsp;</span><span
            style='font-family:"Arial Unicode MS","sans-serif";'>निवास&nbsp;</span><span
            style="font-size:12.0pt;;">.......................&nbsp;</span><span
            style='font-family:"Arial Unicode MS","sans-serif";'>आधार संख्या&nbsp;</span><span
            style='font-family:"Mangal","serif";font-size:16px;'>....................</span><span
            style="font-family:Mangal;font-size:16px;">.....</span><span
            style='font-family:"Mangal","serif";font-size:16px;'>. &nbsp;</span><span
            style="font-family:Mangal;font-size:16px;">PAN</span><span
            style='font-family:"Mangal","serif";font-size:16px;'>&nbsp;</span><span
            style='font-family:"Arial Unicode MS","sans-serif";'>संख्या&nbsp;</span><span
            style="font-size:12.0pt;;">.............</span><span
            style="font-family:Mangal;font-size:16px;">.&nbsp;</span><span
            style='font-family:"Arial Unicode MS","sans-serif";font-size:12.0pt;'>मोबाईल सं</span><span
            style='font-family:"Mangal","serif";font-size:16px;'>. ....................</span></li>
        <li><span style='font-family:"Arial Unicode MS","sans-serif";font-size:12.0pt;'>श्री&nbsp;</span><span
            style='font-family:"Mangal","serif";font-size:16px;'>..................................&nbsp;</span><span
            style='font-family:"Arial Unicode MS","sans-serif";font-size:12.0pt;'>पुत्र श्री&nbsp;</span><span
            style='font-family:"Mangal","serif";font-size:16px;'>.....................................&nbsp;</span><span
            style='font-family:"Arial Unicode MS","sans-serif";font-size:12.0pt;'>आयु&nbsp;</span><span
            style='font-family:"Mangal","serif";'>..........&nbsp;</span><span
            style='font-family:"Arial Unicode MS","sans-serif";'>निवास&nbsp;</span><span
            style="font-size:12.0pt;;">.......................&nbsp;</span><span
            style='font-family:"Arial Unicode MS","sans-serif";'>आधार संख्या&nbsp;</span><span
            style='font-family:"Mangal","serif";font-size:16px;'>....................</span><span
            style="font-family:Mangal;font-size:16px;">.....</span><span
            style='font-family:"Mangal","serif";font-size:16px;'>. &nbsp;</span><span
            style="font-family:Mangal;font-size:16px;">PAN</span><span
            style='font-family:"Mangal","serif";font-size:16px;'>&nbsp;</span><span
            style='font-family:"Arial Unicode MS","sans-serif";'>संख्या&nbsp;</span><span
            style="font-size:12.0pt;;">.............</span><span
            style="font-family:Mangal;font-size:16px;">.&nbsp;</span><span
            style='font-family:"Arial Unicode MS","sans-serif";font-size:12.0pt;'>मोबाईल सं</span><span
            style='font-family:"Mangal","serif";font-size:16px;'>. ....................</span></li>
        <li><span style='font-family:"Arial Unicode MS","sans-serif";font-size:12.0pt;'>श्री&nbsp;</span><span
            style='font-family:"Mangal","serif";font-size:16px;'>..................................&nbsp;</span><span
            style='font-family:"Arial Unicode MS","sans-serif";font-size:12.0pt;'>पुत्र श्री&nbsp;</span><span
            style='font-family:"Mangal","serif";font-size:16px;'>.....................................&nbsp;</span><span
            style='font-family:"Arial Unicode MS","sans-serif";font-size:12.0pt;'>आयु&nbsp;</span><span
            style='font-family:"Mangal","serif";'>..........&nbsp;</span><span
            style='font-family:"Arial Unicode MS","sans-serif";'>निवास&nbsp;</span><span
            style="font-size:12.0pt;;">.......................&nbsp;</span><span
            style='font-family:"Arial Unicode MS","sans-serif";'>आधार संख्या&nbsp;</span><span
            style='font-family:"Mangal","serif";font-size:16px;'>....................</span><span
            style="font-family:Mangal;font-size:16px;">.....</span><span
            style='font-family:"Mangal","serif";font-size:16px;'>. &nbsp;</span><span
            style="font-family:Mangal;font-size:16px;">PAN</span><span
            style='font-family:"Mangal","serif";font-size:16px;'>&nbsp;</span><span
            style='font-family:"Arial Unicode MS","sans-serif";'>संख्या&nbsp;</span><span
            style="font-size:12.0pt;;">.............</span><span
            style="font-family:Mangal;font-size:16px;">.&nbsp;</span><span
            style='font-family:"Arial Unicode MS","sans-serif";font-size:12.0pt;'>मोबाईल सं</span><span
            style='font-family:"Mangal","serif";font-size:16px;'>. ....................</span></li>
      </ol>
      <p
        style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:0in;line-height:normal;font-size:15px;font-family:"Calibri","sans-serif";text-align:justify;'>
        <span style="font-size:16px;">&nbsp;</span></p>
      <p
        style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:0in;line-height:normal;font-size:15px;font-family:"Calibri","sans-serif";text-align:justify;'>
        <span style='font-size:16px;font-family:"Arial Unicode MS","sans-serif";'>विक्रय की गई भूमि का विवरण</span><span
          style="font-size:16px;">&nbsp;</span><span style="font-size:16px;">:----</span></p>
      <table style="border-collapse:collapse;border:none;">
        <tbody>
          <tr>
            <td style="width: 43.45pt;border: 1pt solid black;padding: 0in 5.4pt;vertical-align: top;">
              <p
                style='margin-top:0in;margin-right:0in;margin-bottom:  .0001pt;margin-left:.5in;line-height:normal;font-size:15px;font-family:"Calibri","sans-serif";margin:0in;text-align:center;'>
                <span style='font-size:16px;font-family:"Arial Unicode MS","sans-serif";'>नाम ग्राम</span></p>
            </td>
            <td
              style="width: 45.05pt;border-top: 1pt solid black;border-right: 1pt solid black;border-bottom: 1pt solid black;border-image: initial;border-left: none;padding: 0in 5.4pt;vertical-align: top;">
              <p
                style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:.5in;line-height:normal;font-size:15px;font-family:"Calibri","sans-serif";margin:0in;'>
                <span style='font-size:16px;font-family:"Arial Unicode MS","sans-serif";'>पटवार मंडल</span></p>
            </td>
            <td
              style="width: 47.15pt;border-top: 1pt solid black;border-right: 1pt solid black;border-bottom: 1pt solid black;border-image: initial;border-left: none;padding: 0in 5.4pt;vertical-align: top;">
              <p
                style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:.5in;line-height:normal;font-size:15px;font-family:"Calibri","sans-serif";margin:0in;'>
                <span style='font-size:16px;font-family:"Arial Unicode MS","sans-serif";'>खाता संख्या</span></p>
            </td>
            <td
              style="width: 49.6pt;border-top: 1pt solid black;border-right: 1pt solid black;border-bottom: 1pt solid black;border-image: initial;border-left: none;padding: 0in 5.4pt;vertical-align: top;">
              <p
                style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:.5in;line-height:normal;font-size:15px;font-family:"Calibri","sans-serif";margin:0in;'>
                <span style='font-size:16px;font-family:"Arial Unicode MS","sans-serif";'>खसरा संख्या</span></p>
            </td>
            <td
              style="width: 54.55pt;border-top: 1pt solid black;border-right: 1pt solid black;border-bottom: 1pt solid black;border-image: initial;border-left: none;padding: 0in 5.4pt;vertical-align: top;">
              <p
                style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:.5in;line-height:normal;font-size:15px;font-family:"Calibri","sans-serif";margin:0in;'>
                <span style='font-size:16px;font-family:"Arial Unicode MS","sans-serif";'>क्षैत्रफल</span></p>
            </td>
            <td
              style="width: 49.05pt;border-top: 1pt solid black;border-right: 1pt solid black;border-bottom: 1pt solid black;border-image: initial;border-left: none;padding: 0in 5.4pt;vertical-align: top;">
              <p
                style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:.5in;line-height:normal;font-size:15px;font-family:"Calibri","sans-serif";margin:0in;text-align:center;'>
                <span style='font-size:16px;font-family:"Arial Unicode MS","sans-serif";'>भूमि किस्म</span></p>
            </td>
            <td
              style="width: 52.85pt;border-top: 1pt solid black;border-right: 1pt solid black;border-bottom: 1pt solid black;border-image: initial;border-left: none;padding: 0in 5.4pt;vertical-align: top;">
              <p
                style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:.5in;line-height:normal;font-size:15px;font-family:"Calibri","sans-serif";margin:0in;text-align:center;'>
                <span style='font-size:9px;font-family:"Arial Unicode MS","sans-serif";'>सम्पूर्ण भूमि&nbsp;</span><span
                  style='font-size:9px;font-family:"Mangal","serif";'>/&nbsp;</span><span
                  style='font-size:9px;font-family:"Arial Unicode MS","sans-serif";'>आंशिक क्षैत्रफल</span><span
                  style='font-size:9px;font-family:"Mangal","serif";'>/&nbsp;</span><span
                  style='font-size:9px;font-family:"Arial Unicode MS","sans-serif";'>भूमि में हिस्सा</span></p>
            </td>
            <td
              style="width: 50.3pt;border-top: 1pt solid black;border-right: 1pt solid black;border-bottom: 1pt solid black;border-image: initial;border-left: none;padding: 0in 5.4pt;vertical-align: top;">
              <p
                style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:.5in;line-height:normal;font-size:15px;font-family:"Calibri","sans-serif";margin:0in;text-align:center;'>
                <span style='font-size:16px;font-family:"Arial Unicode MS","sans-serif";'>विक्रय हिस्सा</span></p>
            </td>
            <td
              style="width: 53.65pt;border-top: 1pt solid black;border-right: 1pt solid black;border-bottom: 1pt solid black;border-image: initial;border-left: none;padding: 0in 5.4pt;vertical-align: top;">
              <p
                style='margin-top:0in;margin-right:0in;margin-bottom:  .0001pt;margin-left:.5in;line-height:normal;font-size:15px;font-family:"Calibri","sans-serif";margin:0in;text-align:center;'>
                <span style='font-size:12px;font-family:"Arial Unicode MS","sans-serif";'>विशेष विवरण&nbsp;</span><span
                  style='font-size:12px;font-family:"Mangal","serif";'>(&nbsp;</span><span
                  style='font-size:12px;font-family:"Arial Unicode MS","sans-serif";'>दिशा आदि</span><span
                  style='font-size:12px;font-family:"Mangal","serif";'>)</span></p>
            </td>
          </tr>
          <tr>
            <td
              style="width: 43.45pt;border-right: 1pt solid black;border-bottom: 1pt solid black;border-left: 1pt solid black;border-image: initial;border-top: none;padding: 0in 5.4pt;vertical-align: top;">
              <p
                style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:0in;line-height:normal;font-size:15px;font-family:"Calibri","sans-serif";text-align:  justify;'>
                <span style="font-size:16px;">&nbsp;</span></p>
            </td>
            <td
              style="width: 45.05pt;border-top: none;border-left: none;border-bottom: 1pt solid black;border-right: 1pt solid black;padding: 0in 5.4pt;vertical-align: top;">
              <p
                style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:0in;line-height:normal;font-size:15px;font-family:"Calibri","sans-serif";text-align:  justify;'>
                <span style="font-size:16px;">&nbsp;</span></p>
            </td>
            <td
              style="width: 47.15pt;border-top: none;border-left: none;border-bottom: 1pt solid black;border-right: 1pt solid black;padding: 0in 5.4pt;vertical-align: top;">
              <p
                style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:0in;line-height:normal;font-size:15px;font-family:"Calibri","sans-serif";text-align:  justify;'>
                <span style="font-size:16px;">&nbsp;</span></p>
            </td>
            <td
              style="width: 49.6pt;border-top: none;border-left: none;border-bottom: 1pt solid black;border-right: 1pt solid black;padding: 0in 5.4pt;vertical-align: top;">
              <p
                style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:0in;line-height:normal;font-size:15px;font-family:"Calibri","sans-serif";text-align:  justify;'>
                <span style="font-size:16px;">&nbsp;</span></p>
            </td>
            <td
              style="width: 54.55pt;border-top: none;border-left: none;border-bottom: 1pt solid black;border-right: 1pt solid black;padding: 0in 5.4pt;vertical-align: top;">
              <p
                style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:0in;line-height:normal;font-size:15px;font-family:"Calibri","sans-serif";text-align:  justify;'>
                <span style="font-size:16px;">&nbsp;</span></p>
            </td>
            <td
              style="width: 49.05pt;border-top: none;border-left: none;border-bottom: 1pt solid black;border-right: 1pt solid black;padding: 0in 5.4pt;vertical-align: top;">
              <p
                style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:0in;line-height:normal;font-size:15px;font-family:"Calibri","sans-serif";text-align:  justify;'>
                <span style="font-size:16px;">&nbsp;</span></p>
            </td>
            <td
              style="width: 52.85pt;border-top: none;border-left: none;border-bottom: 1pt solid black;border-right: 1pt solid black;padding: 0in 5.4pt;vertical-align: top;">
              <p
                style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:0in;line-height:normal;font-size:15px;font-family:"Calibri","sans-serif";text-align:  justify;'>
                <span style="font-size:16px;">&nbsp;</span></p>
            </td>
            <td
              style="width: 50.3pt;border-top: none;border-left: none;border-bottom: 1pt solid black;border-right: 1pt solid black;padding: 0in 5.4pt;vertical-align: top;">
              <p
                style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:0in;line-height:normal;font-size:15px;font-family:"Calibri","sans-serif";text-align:  justify;'>
                <span style="font-size:16px;">&nbsp;</span></p>
            </td>
            <td
              style="width: 53.65pt;border-top: none;border-left: none;border-bottom: 1pt solid black;border-right: 1pt solid black;padding: 0in 5.4pt;vertical-align: top;">
              <p
                style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:0in;line-height:normal;font-size:15px;font-family:"Calibri","sans-serif";text-align:  justify;'>
                <span style="font-size:16px;">&nbsp;</span></p>
            </td>
          </tr>
          <tr>
            <td
              style="width: 43.45pt;border-right: 1pt solid black;border-bottom: 1pt solid black;border-left: 1pt solid black;border-image: initial;border-top: none;padding: 0in 5.4pt;vertical-align: top;">
              <p
                style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:0in;line-height:normal;font-size:15px;font-family:"Calibri","sans-serif";text-align:  justify;'>
                <span style="font-size:16px;">&nbsp;</span></p>
            </td>
            <td
              style="width: 45.05pt;border-top: none;border-left: none;border-bottom: 1pt solid black;border-right: 1pt solid black;padding: 0in 5.4pt;vertical-align: top;">
              <p
                style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:0in;line-height:normal;font-size:15px;font-family:"Calibri","sans-serif";text-align:  justify;'>
                <span style="font-size:16px;">&nbsp;</span></p>
            </td>
            <td
              style="width: 47.15pt;border-top: none;border-left: none;border-bottom: 1pt solid black;border-right: 1pt solid black;padding: 0in 5.4pt;vertical-align: top;">
              <p
                style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:0in;line-height:normal;font-size:15px;font-family:"Calibri","sans-serif";text-align:  justify;'>
                <span style="font-size:16px;">&nbsp;</span></p>
            </td>
            <td
              style="width: 49.6pt;border-top: none;border-left: none;border-bottom: 1pt solid black;border-right: 1pt solid black;padding: 0in 5.4pt;vertical-align: top;">
              <p
                style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:0in;line-height:normal;font-size:15px;font-family:"Calibri","sans-serif";text-align:  justify;'>
                <span style="font-size:16px;">&nbsp;</span></p>
            </td>
            <td
              style="width: 54.55pt;border-top: none;border-left: none;border-bottom: 1pt solid black;border-right: 1pt solid black;padding: 0in 5.4pt;vertical-align: top;">
              <p
                style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:0in;line-height:normal;font-size:15px;font-family:"Calibri","sans-serif";text-align:  justify;'>
                <span style="font-size:16px;">&nbsp;</span></p>
            </td>
            <td
              style="width: 49.05pt;border-top: none;border-left: none;border-bottom: 1pt solid black;border-right: 1pt solid black;padding: 0in 5.4pt;vertical-align: top;">
              <p
                style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:0in;line-height:normal;font-size:15px;font-family:"Calibri","sans-serif";text-align:  justify;'>
                <span style="font-size:16px;">&nbsp;</span></p>
            </td>
            <td
              style="width: 52.85pt;border-top: none;border-left: none;border-bottom: 1pt solid black;border-right: 1pt solid black;padding: 0in 5.4pt;vertical-align: top;">
              <p
                style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:0in;line-height:normal;font-size:15px;font-family:"Calibri","sans-serif";text-align:  justify;'>
                <span style="font-size:16px;">&nbsp;</span></p>
            </td>
            <td
              style="width: 50.3pt;border-top: none;border-left: none;border-bottom: 1pt solid black;border-right: 1pt solid black;padding: 0in 5.4pt;vertical-align: top;">
              <p
                style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:0in;line-height:normal;font-size:15px;font-family:"Calibri","sans-serif";text-align:  justify;'>
                <span style="font-size:16px;">&nbsp;</span></p>
            </td>
            <td
              style="width: 53.65pt;border-top: none;border-left: none;border-bottom: 1pt solid black;border-right: 1pt solid black;padding: 0in 5.4pt;vertical-align: top;">
              <p
                style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:0in;line-height:normal;font-size:15px;font-family:"Calibri","sans-serif";text-align:  justify;'>
                <span style="font-size:16px;">&nbsp;</span></p>
            </td>
          </tr>
        </tbody>
      </table>
      <p
        style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:0in;line-height:normal;font-size:15px;font-family:"Calibri","sans-serif";text-align:justify;'>
        <span style="font-size:16px;">&nbsp;</span></p>
      <p
        style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:0in;line-height:normal;font-size:15px;font-family:"Calibri","sans-serif";text-align:justify;'>
        <span style='font-size:16px;font-family:"Arial Unicode MS","sans-serif";'>विक्रय प्रतिफल राशि</span><span
          style='font-size:16px;font-family:"Mangal","serif";'>&nbsp; &nbsp;</span><span
          style='font-size:16px;font-family:"Arial Unicode MS","sans-serif";'>ः</span><span
          style='font-size:16px;font-family:"Mangal","serif";'>-...............................</span><span
          style='font-size:16px;font-family:"Arial Unicode MS","sans-serif";'>रूपये</span></p>
      <p
        style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:0in;line-height:normal;font-size:15px;font-family:"Calibri","sans-serif";text-align:justify;'>
        <span style='font-size:16px;font-family:"Arial Unicode MS","sans-serif";'>स्टाम्प&nbsp;</span><span
          style='font-size:16px;font-family:"Mangal","serif";'>&nbsp; &nbsp; &nbsp;&nbsp;</span><span
          style='font-size:16px;font-family:"Arial Unicode MS","sans-serif";'>ः</span><span
          style='font-size:16px;font-family:"Mangal","serif";'>-...............................</span><span
          style='font-size:16px;font-family:"Arial Unicode MS","sans-serif";'>रूपये</span></p>
      <p
        style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:0in;line-height:normal;font-size:15px;font-family:"Calibri","sans-serif";text-align:justify;'>
        <span style="font-size:16px;">&nbsp;</span></p>
      <p
        style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:0in;line-height:normal;font-size:15px;font-family:"Calibri","sans-serif";text-align:justify;'>
        <span style="font-size:16px;">&nbsp;</span></p>
      <p
        style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:0in;line-height:normal;font-size:15px;font-family:"Calibri","sans-serif";text-align:justify;text-indent:1.5in;'>
        <span style='font-size:16px;font-family:"Arial Unicode MS","sans-serif";'>यह कि जिला&nbsp;</span><span
          style='font-size:16px;font-family:"Mangal","serif";'>.....................</span><span
          style='font-size:16px;font-family:"Arial Unicode MS","sans-serif";'>&nbsp;तहसील&nbsp;</span><span
          style='font-size:16px;font-family:"Mangal","serif";'>................</span><span
          style='font-size:16px;font-family:"Arial Unicode MS","sans-serif";'>&nbsp;पटवार मंडल&nbsp;</span><span
          style='font-size:16px;font-family:"Mangal","serif";'>..........................</span><span
          style='font-size:16px;font-family:"Arial Unicode MS","sans-serif";'>&nbsp;ग्राम&nbsp;</span><span
          style='font-size:16px;font-family:"Mangal","serif";'>................&nbsp;</span><span
          style='font-size:16px;font-family:"Arial Unicode MS","sans-serif";'>जमाबन्दी सम्वत्&nbsp;</span><span
          style='font-size:16px;font-family:"Mangal","serif";'>................</span><span
          style='font-size:16px;font-family:"Arial Unicode MS","sans-serif";'>&nbsp;में</span><span
          style='font-size:16px;font-family:"Mangal","serif";'>&nbsp;</span><span
          style='font-size:16px;font-family:"Arial Unicode MS","sans-serif";'>नामान्तरकरण संख्या&nbsp;</span><span
          style='font-size:16px;font-family:"Mangal","serif";'>....................&nbsp;</span><span
          style='font-size:16px;font-family:"Arial Unicode MS","sans-serif";'>दिनांक</span><span
          style='font-size:16px;font-family:"Mangal","serif";'>.....................&nbsp;</span><span
          style='font-size:16px;font-family:"Arial Unicode MS","sans-serif";'>से खाता संख्या&nbsp;</span><span
          style='font-size:16px;font-family:"Mangal","serif";'>................</span><span
          style="font-size:16px;">&nbsp;</span><span
          style='font-size:16px;font-family:"Arial Unicode MS","sans-serif";'>खसरा संख्या&nbsp;</span><span
          style='font-size:16px;font-family:"Mangal","serif";'>....................</span><span
          style='font-size:16px;font-family:"Arial Unicode MS","sans-serif";'>&nbsp;कुल</span><span
          style='font-size:16px;font-family:"Mangal","serif";'>&nbsp;............</span><span
          style="font-size:16px;">&nbsp;</span><span
          style='font-size:16px;font-family:"Arial Unicode MS","sans-serif";'>हेक्टेयर भूमि विक्रेता&nbsp;</span><span
          style='font-size:16px;font-family:"Mangal","serif";'>(</span><span
          style='font-size:16px;font-family:"Arial Unicode MS","sans-serif";'>प्रथम पक्ष</span><span
          style='font-size:16px;font-family:"Mangal","serif";'>) .............................</span><span
          style='font-size:16px;font-family:"Arial Unicode MS","sans-serif";'>&nbsp;के नाम दर्ज है।&nbsp;</span></p>
      <p
        style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:0in;line-height:normal;font-size:15px;font-family:"Calibri","sans-serif";text-align:justify;text-indent:1.5in;'>
        <span style='font-size:16px;font-family:"Arial Unicode MS","sans-serif";'>उक्त भूमि विक्रेता&nbsp;</span><span
          style='font-size:16px;font-family:"Mangal","serif";'>(</span><span
          style='font-size:16px;font-family:"Arial Unicode MS","sans-serif";'>प्रथम पक्ष</span><span
          style='font-size:16px;font-family:"Mangal","serif";'>)&nbsp;</span><span
          style='font-size:16px;font-family:"Arial Unicode MS","sans-serif";'>के खाते व स्वामित्व की है तथा इसके विक्रय
          करने के समस्त अधिकार विक्रेता&nbsp;</span><span
          style='font-size:16px;font-family:"Mangal","serif";'>(</span><span
          style='font-size:16px;font-family:"Arial Unicode MS","sans-serif";'>प्रथम पक्ष</span><span
          style='font-size:16px;font-family:"Mangal","serif";'>)&nbsp;</span><span
          style='font-size:16px;font-family:"Arial Unicode MS","sans-serif";'>को प्राप्त है। उक्त भूमि इससे पूर्व में
          कभी भी किसी अन्य को विक्रय</span><span style="font-size:16px;">,&nbsp;</span><span
          style='font-size:16px;font-family:"Arial Unicode MS","sans-serif";'>दान</span><span
          style="font-size:16px;">,&nbsp;</span><span
          style='font-size:16px;font-family:"Arial Unicode MS","sans-serif";'>बन्धक या अन्य प्रकार से हस्तान्तरित नहीं
          की गई है तथा इस पर प्रथम पक्ष ही काबिज है तथा इस पर निरन्तर विक्रेता&nbsp;</span><span
          style='font-size:16px;font-family:"Mangal","serif";'>(</span><span
          style='font-size:16px;font-family:"Arial Unicode MS","sans-serif";'>प्रथम पक्ष</span><span
          style='font-size:16px;font-family:"Mangal","serif";'>)&nbsp;</span><span
          style='font-size:16px;font-family:"Arial Unicode MS","sans-serif";'>का ही स्वामित्व है। उक्त भूमि पर कोई
          ऋण</span><span style="font-size:16px;">,&nbsp;</span><span
          style='font-size:16px;font-family:"Arial Unicode MS","sans-serif";'>कर एवं अन्य प्रभार बकाया नहीं
          है।&nbsp;</span></p>
      <p
        style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:0in;line-height:normal;font-size:15px;font-family:"Calibri","sans-serif";text-align:justify;text-indent:1.5in;'>
        <span style='font-size:16px;font-family:"Arial Unicode MS","sans-serif";'>विक्रेता&nbsp;</span><span
          style='font-size:16px;font-family:"Mangal","serif";'>(</span><span
          style='font-size:16px;font-family:"Arial Unicode MS","sans-serif";'>प्रथम पक्ष</span><span
          style='font-size:16px;font-family:"Mangal","serif";'>)&nbsp;</span><span
          style='font-size:16px;font-family:"Arial Unicode MS","sans-serif";'>को अपने निजी एवं पारिवारिक आवश्यकताओं की
          पूर्ति <span style="background:yellow;">एवं नाबालिग की लालन पालन व पढाई&nbsp;</span>हेतु रूपयो</span><span
          style='font-size:16px;font-family:"Mangal","serif";'>&nbsp;</span><span
          style='font-size:16px;font-family:"Arial Unicode MS","sans-serif";'>की आवश्यकता होने के कारण</span><span
          style='font-size:16px;font-family:"Mangal","serif";'>&nbsp;</span><span
          style='font-size:16px;font-family:"Arial Unicode MS","sans-serif";'>उपरोक्तानुसार</span><span
          style='font-size:16px;font-family:"Mangal","serif";'>&nbsp;</span><span
          style='font-size:16px;font-family:"Arial Unicode MS","sans-serif";'>वर्णित भूमि को क्रेता&nbsp;</span><span
          style='font-size:16px;font-family:"Mangal","serif";'>(</span><span
          style='font-size:16px;font-family:"Arial Unicode MS","sans-serif";'>द्वितीय पक्ष</span><span
          style='font-size:16px;font-family:"Mangal","serif";'>) .........................&nbsp;</span><span
          style='font-size:16px;font-family:"Arial Unicode MS","sans-serif";'>को विक्रय करता है।&nbsp;</span></p>
      <p
        style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:0in;line-height:normal;font-size:15px;font-family:"Calibri","sans-serif";text-align:justify;'>
        <span style="font-size:9px;">&nbsp;</span></p>
      <p
        style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:0in;line-height:normal;font-size:15px;font-family:"Calibri","sans-serif";text-align:justify;'>
        <span style='font-size:16px;font-family:"Arial Unicode MS","sans-serif";'>अत एवं यह विक्रय</span><span
          style='font-size:16px;font-family:"Mangal","serif";'>-</span><span
          style='font-size:16px;font-family:"Arial Unicode MS","sans-serif";'>पत्र साक्ष्यांकित किया जाता है</span><span
          style='font-size:16px;font-family:"Mangal","serif";'>&nbsp;----</span></p>
      <p
        style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:0in;line-height:normal;font-size:15px;font-family:"Calibri","sans-serif";text-align:justify;'>
        <span style="font-size:7px;">&nbsp;</span></p>
      <p
        style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:0in;line-height:normal;font-size:15px;font-family:"Calibri","sans-serif";text-align:justify;'>
        <span style='font-size:16px;font-family:"Arial Unicode MS","sans-serif";'>यह कि उक्त विक्रेता&nbsp;</span><span
          style='font-size:16px;font-family:"Mangal","serif";'>(</span><span
          style='font-size:16px;font-family:"Arial Unicode MS","sans-serif";'>प्रथम पक्ष</span><span
          style='font-size:16px;font-family:"Mangal","serif";'>)&nbsp;</span><span
          style='font-size:16px;font-family:"Arial Unicode MS","sans-serif";'>ने क्रेता&nbsp;</span><span
          style='font-size:16px;font-family:"Mangal","serif";'>(</span><span
          style='font-size:16px;font-family:"Arial Unicode MS","sans-serif";'>द्वितीय पक्ष</span><span
          style='font-size:16px;font-family:"Mangal","serif";'>)&nbsp;</span><span
          style='font-size:16px;font-family:"Arial Unicode MS","sans-serif";'>से उक्त भूमि के प्रतिफल की
          राशि&nbsp;</span><span
          style='font-size:16px;font-family:"Mangal","serif";'>.....................&nbsp;</span><span
          style='font-size:16px;font-family:"Arial Unicode MS","sans-serif";'>रूपये अक्षरे &nbsp;&nbsp;</span><span
          style='font-size:16px;font-family:"Mangal","serif";'>..............................................................&nbsp;</span><span
          style='font-size:16px;font-family:"Arial Unicode MS","sans-serif";'>रूपये <span
            style="background:yellow;">नगद&nbsp;</span></span><span
          style='font-size:16px;font-family:"Mangal","serif";background:yellow;'>/&nbsp;</span><span
          style='font-size:16px;font-family:"Arial Unicode MS","sans-serif";background:yellow;'>चेक
          संख्या&nbsp;</span><span
          style='font-size:16px;font-family:"Mangal","serif";background:yellow;'>....................</span><span
          style='font-size:16px;font-family:"Arial Unicode MS","sans-serif";background:yellow;'>&nbsp;दिनांक</span><span
          style='font-size:16px;font-family:"Mangal","serif";background:yellow;'>......................&nbsp;</span><span
          style='font-size:16px;font-family:"Arial Unicode MS","sans-serif";background:yellow;'>बैंक&nbsp;</span><span
          style='font-size:16px;font-family:"Mangal","serif";background:yellow;'>.......................</span><span
          style='font-size:16px;font-family:"Arial Unicode MS","sans-serif";background:yellow;'>&nbsp;डी</span><span
          style='font-size:16px;font-family:"Mangal","serif";background:yellow;'>.</span><span
          style='font-size:16px;font-family:"Arial Unicode MS","sans-serif";background:yellow;'>डी</span><span
          style='font-size:16px;font-family:"Mangal","serif";background:yellow;'>.</span><span
          style='font-size:16px;font-family:"Arial Unicode MS","sans-serif";background:yellow;'>&nbsp;संख्या</span><span
          style='font-size:16px;font-family:"Mangal","serif";background:yellow;'>.....................&nbsp;</span><span
          style='font-size:16px;font-family:"Arial Unicode MS","sans-serif";background:yellow;'>दिनांक</span><span
          style='font-size:16px;font-family:"Mangal","serif";background:yellow;'>........................&nbsp;</span><span
          style='font-size:16px;font-family:"Arial Unicode MS","sans-serif";background:yellow;'>बैंक का नाम</span><span
          style='font-size:16px;font-family:"Mangal","serif";background:yellow;'>................................</span><span
          style='font-size:16px;font-family:"Mangal","serif";'>&nbsp;</span><span
          style='font-size:16px;font-family:"Arial Unicode MS","sans-serif";'>द्वारा प्राप्त कर लिये है तथा अब कुछ भी
          राशि लेना शेष नहीं है।</span></p>
      <ol style="list-style-type: decimal;">
        <li><span style='font-family:"Arial Unicode MS","sans-serif";font-size:12.0pt;'>यह कि उक्त भूमि आबादी क्षैत्र
            से&nbsp;</span><span style='font-family:"Mangal","serif";font-size:16px;'>...............</span><span
            style='font-family:"Arial Unicode MS","sans-serif";'>&nbsp;किमी</span><span
            style="font-size:12.0pt;;">.&nbsp;</span><span style="font-size:12.0pt;;">दूर है&nbsp;</span><span
            style='font-family:"Mangal","serif";font-size:16px;'>/&nbsp;</span><span
            style='font-family:"Arial Unicode MS","sans-serif";font-size:12.0pt;'>में है।</span></li>
        <li><span style='font-family:"Arial Unicode MS","sans-serif";font-size:12.0pt;'>यह कि उक्त भूमि पर कोई निर्माण
            नहीं हो रहा है।&nbsp;</span><span style='font-family:"Mangal","serif";font-size:16px;'>/
            ..........&nbsp;</span><span style='font-family:"Arial Unicode MS","sans-serif";font-size:12.0pt;'>वर्ग फीट
            का निर्माण हो रहा है।&nbsp;</span></li>
        <li><span style='font-family:"Arial Unicode MS","sans-serif";font-size:12.0pt;'>यह कि उक्त भूमि खनन क्षैत्र में
            नहीं है&nbsp;</span><span style='font-family:"Mangal","serif";'>/&nbsp;</span><span
            style='font-family:"Arial Unicode MS","sans-serif";'>है।</span></li>
        <li><span style='font-family:"Arial Unicode MS","sans-serif";font-size:12.0pt;'>यह कि उक्त भूमि ओद्योगिक क्षैत्र
            नहीं है&nbsp;</span><span style='font-family:"Mangal","serif";'>/&nbsp;</span><span
            style='font-family:"Arial Unicode MS","sans-serif";'>है।</span></li>
        <li><span style='font-family:"Arial Unicode MS","sans-serif";font-size:12.0pt;'>यह कि उक्त भूमि</span><span
            style='font-family:"Mangal","serif";font-size:16px;'>&nbsp;.....................&nbsp;</span><span
            style="font-size:12.0pt;;">मार्ग से&nbsp;</span><span
            style='font-family:"Mangal","serif";font-size:16px;'>.........&nbsp;</span><span
            style='font-family:"Arial Unicode MS","sans-serif";font-size:12.0pt;'>किमी</span><span
            style='font-family:"Mangal","serif";'>.&nbsp;</span><span
            style='font-family:"Arial Unicode MS","sans-serif";'>दूर है&nbsp;</span><span
            style='font-family:"Mangal","serif";font-size:16px;'>/&nbsp;</span><span
            style='font-family:"Arial Unicode MS","sans-serif";font-size:12.0pt;'>लगमा है।</span></li>
        <li><span style='font-family:"Arial Unicode MS","sans-serif";font-size:12.0pt;'>यह कि उक्त भूमि
            सिंचित&nbsp;</span><span style="font-size:12.0pt;;">/&nbsp;</span><span style="font-size:12.0pt;;">असिंचित
            है व कृषि कार्य में उपयोग आ रही है।</span></li>
        <li><span style='font-family:"Arial Unicode MS","sans-serif";font-size:12.0pt;'>यह कि उक्त भूमि पर पक्का
            कुआ</span><span style='font-family:"Mangal","serif";font-size:16px;'>/&nbsp;</span><span
            style='font-family:"Arial Unicode MS","sans-serif";font-size:12.0pt;'>कच्चा कुआ</span><span
            style='font-family:"Mangal","serif";font-size:16px;'>/&nbsp;</span><span
            style='font-family:"Arial Unicode MS","sans-serif";font-size:12.0pt;'>झादा</span><span
            style='font-family:"Mangal","serif";'>/</span><span style='font-family:"Arial Unicode MS","sans-serif";'>आदि
            बना हुआ है।</span></li>
        <li><span style='font-family:"Arial Unicode MS","sans-serif";font-size:12.0pt;'>यह कि उक्त भूमि का कब्जा क्रेता
            को सम्भला दिया है।</span></li>
        <li><span style='font-family:"Arial Unicode MS","sans-serif";font-size:12.0pt;'>यह कि उक्त भूमि सभी प्रकार के
            भारों एवं प्रभारों से मुक्त है। उक्त विक्रय</span><span
            style='font-family:"Mangal","serif";font-size:16px;'>-</span><span
            style='font-family:"Arial Unicode MS","sans-serif";font-size:12.0pt;'>पत्र की दिनांक से पूर्व के समस्त
            प्रभारों का दायित्व विक्रेता का तथा भविष्य में उत्पन्न प्रभार का दायित्व क्रेता&nbsp;</span><span
            style='font-family:"Mangal","serif";font-size:16px;'>(</span><span
            style='font-family:"Arial Unicode MS","sans-serif";font-size:12.0pt;'>द्वितीय पक्ष</span><span
            style='font-family:"Mangal","serif";font-size:16px;'>)&nbsp;</span><span
            style='font-family:"Arial Unicode MS","sans-serif";'>का होगा।</span></li>
        <li><span style='font-family:"Arial Unicode MS","sans-serif";font-size:12.0pt;'>यह कि उक्त भूमि पर किसी भी अदालत
            में कोई कार्यवाही लम्बित नहीं है</span><span style="font-family:Mangal;font-size:16px;">&nbsp;</span><span
            style='font-family:"Arial Unicode MS","sans-serif";font-size:12.0pt;'>ना ही कोई स्थगन आदेश जारी किया हुआ है
            &nbsp;। उक्त भूमि स्वत्व की दृष्टि से पूर्णतया निर्विवाद है जिसका एक मात्र स्वामी विक्रेता&nbsp;</span><span
            style='font-family:"Mangal","serif";font-size:16px;'>(</span><span
            style='font-family:"Arial Unicode MS","sans-serif";font-size:12.0pt;'>प्रथम पक्ष</span><span
            style='font-family:"Mangal","serif";font-size:16px;'>)&nbsp;</span><span
            style='font-family:"Arial Unicode MS","sans-serif";'>है । परन्तु फिर भी यदि भविष्य मे किसी कारण से उक्त भूमि
            या इसका कोई भाग क्रेता के स्वामित्व से निकल जाता है तो इसके समस्त नुकसान व खर्चे का उत्तरदायी विक्रेता
            रहेगा।</span></li>
        <li><span style='font-family:"Arial Unicode MS","sans-serif";font-size:12.0pt;'>यह कि इस विक्रय पत्र के निष्पादन
            कि तिथि से उक्त भूमि का स्वामित्व क्रेता में निहित हो गया है वह जब चाहे</span><span
            style="font-family:Mangal;font-size:16px;">&nbsp;</span><span
            style='font-family:"Arial Unicode MS","sans-serif";font-size:12.0pt;'>राजस्व अभिलेख&nbsp;</span><span
            style='font-family:"Mangal","serif";font-size:16px;'>(</span><span
            style='font-family:"Arial Unicode MS","sans-serif";'>जमाबन्दी</span><span
            style="font-size:12.0pt;;">)&nbsp;</span><span style="font-size:12.0pt;;">में इसका नामान्तरण खुलवाकर अपने
            खाते दर्ज करवा कर वह स्वयं</span><span style="font-size:16px;">,&nbsp;</span><span
            style='font-family:"Arial Unicode MS","sans-serif";font-size:12.0pt;'>उसका उत्तराधिकारी</span><span
            style="font-size:16px;">,&nbsp;</span><span
            style='font-family:"Arial Unicode MS","sans-serif";font-size:12.0pt;'>वारिस या अभिहस्तांकिती
            अपनी</span><span style='font-family:"Mangal","serif";font-size:16px;'>&nbsp;</span><span
            style='font-family:"Arial Unicode MS","sans-serif";font-size:12.0pt;'>इच्छानुसार इसका उपयोग</span><span
            style='font-family:"Mangal","serif";font-size:16px;'>,</span><span
            style='font-family:"Arial Unicode MS","sans-serif";'>&nbsp;उपभोग करने व किसी को भी विक्रय</span><span
            style='font-family:"Mangal","serif";font-size:16px;'>,&nbsp;</span><span
            style='font-family:"Arial Unicode MS","sans-serif";'>दान</span><span
            style='font-family:"Mangal","serif";font-size:16px;'>,&nbsp;</span><span
            style='font-family:"Arial Unicode MS","sans-serif";font-size:12.0pt;'>हस्तान्तरित करने के लिए स्वतंत्र
            है</span><span style='font-family:"Mangal","serif";font-size:16px;'>&nbsp;</span><span
            style='font-family:"Arial Unicode MS","sans-serif";font-size:12.0pt;'>जिसमें विक्रेता</span><span
            style="font-size:16px;">,&nbsp;</span><span
            style='font-family:"Arial Unicode MS","sans-serif";font-size:12.0pt;'>उसके उत्तराधिकारी एवं वारिस को किसी
            प्रकार की बाधा डालने का कोई अधिकार नहीं रहेगा।</span></li>
        <li><span style='font-family:"Arial Unicode MS","sans-serif";font-size:12.0pt;'>यह कि इस विक्रय</span><span
            style='font-family:"Mangal","serif";font-size:16px;'>-</span><span
            style='font-family:"Arial Unicode MS","sans-serif";'>पत्र के पंजीयन पर देय मुद्रांक व अन्य समस्त प्रकार के
            करो का दायित्व <span style="background:yellow;">क्रेता&nbsp;</span></span><span
            style='font-family:"Mangal","serif";background:yellow;font-size:12.0pt;background:yellow;'>/&nbsp;</span><span
            style='font-family:"Arial Unicode MS","sans-serif";font-size:12.0pt;background:yellow;'>विक्रेता</span><span
            style='font-family:"Mangal","serif";font-size:16px;'>&nbsp;</span><span
            style='font-family:"Arial Unicode MS","sans-serif";'>का होगा।</span></li>
      </ol>
      <p
        style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:0in;line-height:normal;font-size:15px;font-family:"Calibri","sans-serif";text-align:justify;'>
        <span style="font-size:16px;">&nbsp;</span></p>
      <p
        style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:0in;line-height:normal;font-size:15px;font-family:"Calibri","sans-serif";text-align:justify;'>
        <span style='font-size:16px;font-family:"Arial Unicode MS","sans-serif";'>अत एवं उपरोक्त शर्तो के साक्ष्य स्वरूप
          दोनों पक्षों ने बिना किसी दबाव व प्रलोभन के तथा प्रसन्न मन के साथ पूर्णतया पढ व सोच समझ कर व निम्नलिखित दो
          साक्षियों के समक्ष हस्ताक्षर किये है।</span></p>
      <p
        style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:0in;line-height:normal;font-size:15px;font-family:"Calibri","sans-serif";text-align:justify;'>
        <span style="font-size:16px;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
          &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
          &nbsp; &nbsp;</span></p>
      <p
        style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:0in;line-height:normal;font-size:15px;font-family:"Calibri","sans-serif";text-align:justify;'>
        <span style='font-size:16px;font-family:"Arial Unicode MS","sans-serif";'>हस्ताक्षर द्वितीय
          पक्ष&nbsp;</span><span style='font-size:16px;font-family:"Mangal","serif";'>(&nbsp;</span><span
          style='font-size:16px;font-family:"Arial Unicode MS","sans-serif";'>क्रेता&nbsp;</span><span
          style='font-size:16px;font-family:"Mangal","serif";'>) &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
          &nbsp;&nbsp;</span><span style='font-size:16px;font-family:"Arial Unicode MS","sans-serif";'>हस्ताक्षर प्रथम
          पक्ष&nbsp;</span><span style='font-size:16px;font-family:"Mangal","serif";'>(&nbsp;</span><span
          style='font-size:16px;font-family:"Arial Unicode MS","sans-serif";'>विक्रेता&nbsp;</span><span
          style='font-size:16px;font-family:"Mangal","serif";'>)</span></p>
      <p
        style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:0in;line-height:normal;font-size:15px;font-family:"Calibri","sans-serif";text-align:justify;'>
        <span style='font-size:16px;font-family:"Mangal","serif";'>&nbsp; &nbsp;</span></p>
      <p
        style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:0in;line-height:normal;font-size:15px;font-family:"Calibri","sans-serif";text-align:justify;'>
        <span style='font-size:16px;font-family:"Mangal","serif";'>1&nbsp;</span><span
          style='font-size:16px;font-family:"Arial Unicode MS","sans-serif";'>हस्ताक्षर साक्षी &nbsp;&nbsp;</span><span
          style='font-size:16px;font-family:"Mangal","serif";'>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
          &nbsp;&nbsp;&nbsp; &nbsp; &nbsp; 2&nbsp;</span><span style="font-size:16px;">&nbsp;</span><span
          style='font-size:16px;font-family:"Arial Unicode MS","sans-serif";'>हस्ताक्षर साक्षी &nbsp; &nbsp; &nbsp;
          &nbsp; &nbsp;</span></p>
      <p
        style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:0in;line-height:normal;font-size:15px;font-family:"Calibri","sans-serif";text-align:justify;'>
        <span style='font-size:16px;font-family:"Arial Unicode MS","sans-serif";'>नाम&nbsp;</span><span
          style='font-size:16px;font-family:"Mangal","serif";'>......................... &nbsp; &nbsp; &nbsp; &nbsp;
          &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</span><span
          style='font-size:16px;font-family:"Arial Unicode MS","sans-serif";'>नाम&nbsp;</span><span
          style='font-size:16px;font-family:"Mangal","serif";'>.........................</span></p>
      <p
        style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:0in;line-height:normal;font-size:15px;font-family:"Calibri","sans-serif";text-align:justify;'>
        <span style='font-size:16px;font-family:"Arial Unicode MS","sans-serif";'>पता&nbsp;</span><span
          style='font-size:16px;font-family:"Mangal","serif";'>.......................... &nbsp; &nbsp; &nbsp; &nbsp;
          &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</span><span
          style='font-size:16px;font-family:"Arial Unicode MS","sans-serif";'>पता&nbsp;</span><span
          style='font-size:16px;font-family:"Mangal","serif";'>.........................</span></p>
    </div>
    <hr>
  </div>
</div>