<app-header></app-header>
<router-outlet></router-outlet>
<ngx-spinner size="medium" color="#e4091e" type="ball-clip-rotate" [fullScreen]="true">
  <h4 class="mt-1" style="font-size: 20px; color: white">Loading... </h4>
</ngx-spinner>