<div
  id="add_new_doc"
  class="modal fade bd-example-modal-xl"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myExtraLargeModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-xl modal-full-width" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{ "COMMON.ADD_DOCUMENT" | translate }}</h4>
        <h5 *ngIf="documentNo" class="p-2" style="background: #a8cbea;">
          {{ "COMMON.DOCUMENT_NO" | translate }} : {{ documentNo }}
        </h5>
        <button
          type="button"
          class="close m-0"
          data-dismiss="modal"
          aria-label="Close"
          (click)="closeModal.emit()"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- Wizard Steps -->
        <aw-wizard [navBarLayout]="'large-empty-symbols'">
          <!-- Step1 Document Details -->
          <aw-wizard-step
            stepTitle="{{ 'COMMON.DOCUMENTTYPEDETAIL' | translate }}"
            [navigationSymbol]="{ symbol: '1' }"
            [canExit]="documentTypeDetailForm?.form?.valid"
            (stepExit)="onStepExit($event, 1)"
          >
            <div class="container-fluid">
              <div class="card card-body">
                <form
                  #documentTypeDetailForm="ngForm"
                  novalidate
                  (ngSubmit)="(documentTypeDetailForm?.form?.valid)"
                >
                  <div
                    class="row form-row align-items-center justify-content-around"
                  >
                    <div class="form-group col-md-2">
                      <label>{{ "COMMON.PANJIYAKKARYALAY" | translate }}</label>
                      <input
                        type="text"
                        class="form-control"
                        name="upPanjiyakKaryalayElementName"
                        [(ngModel)]="upPanjiyakKaryalay"
                        required
                        [ngClass]="{
                          'is-invalid':
                            documentTypeDetailForm?.submitted &&
                            !upPanjiyakKaryalay
                        }"
                      />
                    </div>

                    <div class="form-group col-md-2">
                      <label>{{ "COMMON.DOCUMENTTYPE" | translate }}</label>
                      <ng-select
                        name="documentType"
                        [items]="cs.documentTypeList"
                        bindLabel="Name"
                        bindValue="Id"
                        [(ngModel)]="documentTypeId"
                        placeholder="{{ 'COMMON.DOCUMENTTYPE' | translate }}"
                        required
                        [ngClass]="{
                          'ng-select-invalid':
                            documentTypeDetailForm?.submitted && !documentTypeId
                        }"
                      >
                      </ng-select>
                    </div>
                    <div class="form-group col-md-2">
                      <label>{{ "COMMON.DOCUMENTSHRENI" | translate }}</label>
                      <ng-select
                        name="documentShreni"
                        [items]="cs.documentShreniList"
                        bindLabel="Name"
                        bindValue="Id"
                        placeholder="{{ 'COMMON.DOCUMENTSHRENI' | translate }}"
                        [(ngModel)]="documentLevelId"
                        required
                        [ngClass]="{
                          'ng-select-invalid':
                            documentTypeDetailForm?.submitted &&
                            !documentLevelId
                        }"
                      >
                      </ng-select>
                    </div>
                    <div class="form-group col-md-2">
                      <label>{{ "COMMON.UNITOFAREA" | translate }}</label>
                      <ng-select
                        name="unitOfAreaElementName"
                        [items]="cs.unitOfAreaList"
                        placeholder="{{ 'COMMON.UNITOFAREA' | translate }}"
                        bindLabel="Name"
                        bindValue="Id"
                        [(ngModel)]="unitOfAreaId"
                        required
                        [ngClass]="{
                          'ng-select-invalid':
                            documentTypeDetailForm?.submitted && !unitOfAreaId
                        }"
                      >
                      </ng-select>
                    </div>
                    <div class="form-group col-md-2">
                      <label>{{
                        "COMMON.PRATIFALRASHITYPE" | translate
                      }}</label>
                      <ng-select
                        name="pratifalRashiType"
                        [items]="cs.amountTypeList"
                        bindLabel="Name"
                        bindValue="Id"
                        placeholder="{{
                          'COMMON.PRATIFALRASHITYPE' | translate
                        }}"
                        [(ngModel)]="amountTypeId"
                        required
                        [ngClass]="{
                          'ng-select-invalid':
                            documentTypeDetailForm?.submitted && !amountTypeId
                        }"
                      >
                      </ng-select>
                    </div>
                    <div class="form-group col-md-2" *ngIf="amountTypeId">
                      <label>{{
                        "COMMON.PRATIFALRASHI_NAGAD" | translate
                      }}</label>
                      <input
                        type="number"
                        class="form-control"
                        name="pratifalRashiElementName"
                        [(ngModel)]="cashAmount"
                        required
                        [ngClass]="{
                          'is-invalid':
                            documentTypeDetailForm?.submitted && !cashAmount
                        }"
                      />
                    </div>
                  </div>
                  <ng-container *ngIf="amountTypeId && amountTypeId === 2">
                    <div
                      class="row form-row align-items-center justify-content-around"
                      *ngFor="
                        let check of checkAmountData;
                        let i = index;
                        let last = last
                      "
                    >
                      <div class="form-group col-md-3">
                        <label>{{ "COMMON.PAYMENT_TYPE" | translate }}</label>
                        <ng-select
                          name="paymentTypeName-{{ i }}"
                          [items]="cs.paymentTypeList"
                          bindLabel="Name"
                          bindValue="Id"
                          placeholder="{{ 'COMMON.PAYMENT_TYPE' | translate }}"
                          [(ngModel)]="check.paymentType"
                          required
                          [ngClass]="{
                            'ng-select-invalid':
                              documentTypeDetailForm?.submitted &&
                              !check.paymentType
                          }"
                        >
                        </ng-select>
                      </div>
                      <div class="form-group col-md-3">
                        <label>{{ "COMMON.CHECKNO" | translate }}</label>
                        <input
                          type="text"
                          class="form-control"
                          name="checkNoElementName-{{ i }}"
                          [(ngModel)]="check.checkNo"
                          required
                          [ngClass]="{
                            'is-invalid':
                              documentTypeDetailForm?.submitted &&
                              !check.checkNo
                          }"
                        />
                      </div>
                      <div class="form-group col-md-3">
                        <label>{{ "COMMON.BANKNAME" | translate }}</label>
                        <input
                          type="text"
                          class="form-control"
                          name="bankNameElementName-{{ i }}"
                          [(ngModel)]="check.bankName"
                          required
                          [ngClass]="{
                            'is-invalid':
                              documentTypeDetailForm?.submitted &&
                              !check.bankName
                          }"
                        />
                      </div>
                      <div class="form-group col-md-3">
                        <label>{{ "COMMON.CHECKAMOUNT" | translate }}</label>
                        <input
                          type="number"
                          class="form-control"
                          name="checkAmountElementName-{{ i }}"
                          [(ngModel)]="check.amount"
                          required
                          [ngClass]="{
                            'is-invalid':
                              documentTypeDetailForm?.submitted && !check.amount
                          }"
                        />
                      </div>
                      <div
                        class="form-group col-md-1 pt-4"
                        *ngIf="checkAmountData?.length > 1"
                      >
                        <a
                          href="javascript:void(0)"
                          title="Remove Row"
                          (click)="removeCheckField(i)"
                          ><i class="far fa-trash-alt fa-3x"></i
                        ></a>
                      </div>
                      <div class="form-group col-md-1 pt-4" *ngIf="last">
                        <a
                          href="javascript:void(0)"
                          title="Add Row"
                          (click)="addCheckField()"
                          ><i class="far fa-plus-square fa-3x"></i
                        ></a>
                      </div>
                    </div>
                  </ng-container>
                  <h6 class="font-weight-bold">
                    {{ "COMMON.SANLAGNSTAMPVIVARAN" | translate }}
                  </h6>
                  <div
                    class="row form-row align-items-center justify-content-around"
                  >
                    <div class="form-group col-md-2">
                      <label>{{ "COMMON.STAMPVENDORNAME" | translate }}</label>
                      <input
                        type="text"
                        class="form-control"
                        name="stampVendorElementName"
                        [(ngModel)]="stampVendorName"
                        required
                        [ngClass]="{
                          'is-invalid':
                            documentTypeDetailForm?.submitted &&
                            !stampVendorName
                        }"
                      />
                    </div>
                    <div class="form-group col-md-2">
                      <label>{{ "COMMON.LICENCENO" | translate }}</label>
                      <input
                        type="text"
                        class="form-control"
                        name="licenseElementName"
                        [(ngModel)]="stampVendorLicenseNo"
                        [ngClass]="{
                          'is-invalid':
                            documentTypeDetailForm?.submitted &&
                            !stampVendorLicenseNo
                        }"
                      />
                    </div>
                    <div class="form-group col-md-2">
                      <label>{{
                        "COMMON.STAMP_VENDOR_ADDRESS" | translate
                      }}</label>
                      <input
                        type="text"
                        class="form-control"
                        name="stampVendorAddressElementName"
                        [(ngModel)]="stampVendorAddress"
                        [ngClass]="{
                          'is-invalid':
                            documentTypeDetailForm?.submitted &&
                            !stampVendorAddress
                        }"
                      />
                    </div>
                    <div class="form-group col-md-2">
                      <label>{{ "COMMON.REGISTERNO" | translate }}</label>
                      <input
                        type="text"
                        class="form-control"
                        name="registerNoElementName"
                        [(ngModel)]="stampRegisterNo"
                        required
                        [ngClass]="{
                          'is-invalid':
                            documentTypeDetailForm?.submitted &&
                            !stampRegisterNo
                        }"
                      />
                    </div>
                    <div class="form-group col-md-2">
                      <label>{{ "COMMON.DATE" | translate }} </label>
                      <div>
                        <input
                          class="form-control"
                          [owlDateTimeTrigger]="dt3"
                          [owlDateTime]="dt3"
                          name="stampDateElementName"
                          [(ngModel)]="stampDate"
                          required
                          [ngClass]="{
                            'is-invalid':
                              documentTypeDetailForm?.submitted && !stampDate
                          }"
                        />
                        <owl-date-time
                          [pickerType]="'calendar'"
                          #dt3
                        ></owl-date-time>
                      </div>
                    </div>
                  </div>
                  <ng-container
                    *ngFor="
                      let stamp of stampData;
                      let i = index;
                      let last = last
                    "
                  >
                    <form
                      #stampDataForm="ngForm"
                      novalidate
                      (ngSubmit)="stampDataForm?.form?.valid && addStampField()"
                    >
                      <div
                        class="row form-row align-items-center justify-content-around"
                      >
                        <div class="form-group col-md-3">
                          <label>{{ "COMMON.STAMPRATE" | translate }}</label>
                          <input
                            type="text"
                            class="form-control"
                            name="stampRateElementName- {{ i }}"
                            [(ngModel)]="stamp.stampRate"
                            (change)="calculateStampAmount(stamp)"
                            required
                            [ngClass]="{
                              'is-invalid':
                                (documentTypeDetailForm?.submitted ||
                                  stampDataForm?.submitted) &&
                                !stamp.stampRate
                            }"
                          />
                        </div>
                        <div class="form-group col-md-3">
                          <label>{{ "COMMON.STAMPCOUNT" | translate }}</label>
                          <input
                            type="text"
                            class="form-control"
                            name="stampCountElementName- {{ i }}"
                            [(ngModel)]="stamp.stampCount"
                            (change)="calculateStampAmount(stamp)"
                            required
                            [ngClass]="{
                              'is-invalid':
                                (documentTypeDetailForm?.submitted ||
                                  stampDataForm?.submitted) &&
                                !stamp.stampCount
                            }"
                          />
                        </div>
                        <div class="form-group col-md-2">
                          <label>{{ "COMMON.STAMPAMOUNT" | translate }}</label>
                          <input
                            type="text"
                            class="form-control"
                            name="stampAmountElementName- {{ i }}"
                            [(ngModel)]="stamp.stampAmount"
                            required
                            [ngClass]="{
                              'is-invalid':
                                (documentTypeDetailForm?.submitted ||
                                  stampDataForm?.submitted) &&
                                !stamp.stampAmount
                            }"
                          />
                        </div>
                        <div class="form-group col-md-2">
                          <label>{{ "COMMON.STAMPNO" | translate }}</label>
                          <input
                            type="text"
                            class="form-control"
                            name="stampNoElementName- {{ i }}"
                            [(ngModel)]="stamp.stampSerialNo"
                            required
                            [ngClass]="{
                              'is-invalid':
                                (documentTypeDetailForm?.submitted ||
                                  stampDataForm?.submitted) &&
                                !stamp.stampSerialNo
                            }"
                          />
                        </div>
                        <div
                          class="form-group col-md-1 pt-4"
                          *ngIf="stampData?.length > 1"
                        >
                          <a
                            href="javascript:void(0)"
                            title="Remove Row"
                            (click)="removeStampField(i)"
                            ><i class="far fa-trash-alt fa-3x"></i
                          ></a>
                        </div>
                        <div class="form-group col-md-1 pt-4" *ngIf="last">
                          <button type="submit" title="Add Row">
                            <i class="far fa-plus-square fa-3x"></i>
                          </button>
                        </div>
                      </div>
                    </form>
                  </ng-container>
                  <div
                    class="row form-row align-items-center justify-content-around"
                  >
                    <div class="col-md-3 pt-3">
                      <button
                        type="submit"
                        class="btn btn-primary waves-effect"
                        style="width: inherit;"
                        awNextStep
                      >
                        Next
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </aw-wizard-step>

          <!-- Step-2 Property Details -->
          <aw-wizard-step
            stepTitle="{{ 'COMMON.PROPERTYDETAILS' | translate }}"
            [navigationSymbol]="{ symbol: '2' }"
            (stepExit)="onStepExit($event, 2)"
          >
            <div class="container-fluid">
              <!-- Property Details Form -->
              <div class="card card-body">
                <form
                  #propertyDetailFrom="ngForm"
                  novalidate
                  (ngSubmit)="
                    propertyDetailFrom?.form?.valid && addPropertyDetails()
                  "
                >
                  <div class="row form-row align-items-center">
                    <div class="form-group col-md-4">
                      <label>{{ "COMMON.DISTRICT" | translate }}</label>
                      <input
                        type="text"
                        class="form-control"
                        name="districtElementName"
                        [(ngModel)]="district"
                      />
                    </div>
                    <div class="form-group col-md-4">
                      <label>{{ "COMMON.TAHSIL" | translate }}</label>
                      <input
                        type="text"
                        class="form-control"
                        name="tahsilElementName"
                        [(ngModel)]="tahsil"
                      />
                    </div>
                    <div class="form-group col-md-4">
                      <label>{{ "COMMON.UPTAHSIL" | translate }}</label>
                      <input
                        type="text"
                        class="form-control"
                        name="upTahsilElementName"
                        [(ngModel)]="upTahsil"
                      />
                    </div>
                    <div class="form-group col-md-3">
                      <label>{{ "COMMON.NAME_OF_VAILLAGE" | translate }}</label>
                      <input
                        type="text"
                        class="form-control"
                        name="villageElementName"
                        [(ngModel)]="villageName"
                      />
                    </div>
                    <div class="form-group col-md-3">
                      <label>{{ "COMMON.PATWAR_MANDAL" | translate }}</label>
                      <input
                        type="text"
                        class="form-control"
                        name="patwarMandalElementName"
                        [(ngModel)]="patwarMandal"
                      />
                    </div>
                    <div class="form-group col-md-3">
                      <label>{{ "COMMON.JAMABANDI_SAMWAT" | translate }}</label>
                      <input
                        type="text"
                        class="form-control"
                        name="jamaBandElementName"
                        [(ngModel)]="jamabandiSamvat"
                      />
                    </div>
                    <div class="form-group col-md-3">
                      <label>{{
                        "COMMON.NAMANTRAN_SANKHYA" | translate
                      }}</label>
                      <input
                        type="text"
                        class="form-control"
                        name="namanTranSankhyaElementName"
                        [(ngModel)]="namantranSankhya"
                      />
                    </div>
                    <div class="form-group col-md-3">
                      <label>{{ "COMMON.VISHEH_TIPPADI" | translate }}</label>
                      <input
                        type="text"
                        class="form-control"
                        name="visheshTippadiElementName"
                        [(ngModel)]="visheshTippadi"
                      />
                    </div>
                  </div>
                  <div
                    style="box-shadow: 0 0 1px #0f0e0d;"
                    class="row form-row align-items-center"
                    *ngFor="
                      let item of propertyMeasurementParameters;
                      let i = index;
                      let last = last
                    "
                  >
                    <div class="form-group col-md-2">
                      <label>{{ "COMMON.ACCOUNT_NUMBER" | translate }}</label>
                      <input
                        type="text"
                        class="form-control"
                        id="khataSankhyaElementId-{{ i + 1 }}"
                        name="khataSankhyaElementName-{{ i + 1 }}"
                        [(ngModel)]="item.accountNo"
                      />
                    </div>
                    <div class="form-group col-md-1">
                      <label>{{ "COMMON.KHASRA_NUMBER" | translate }}</label>
                      <input
                        type="text"
                        class="form-control"
                        id="khasraNoElementId-{{ i + 1 }}"
                        name="khasraNoElementName-{{ i + 1 }}"
                        [(ngModel)]="item.khasraNo"
                      />
                    </div>
                    <div class="form-group col-md-1">
                      <label>{{ "COMMON.AREA" | translate }}</label>
                      <input
                        type="text"
                        class="form-control"
                        id="kshetraFalElementId-{{ i + 1 }}"
                        name="kshetraFalElementName-{{ i + 1 }}"
                        [(ngModel)]="item.area"
                      />
                    </div>
                    <div class="form-group col-md-1">
                      <label>{{ "COMMON.BHOOMI_KISMA" | translate }}</label>
                      <input
                        type="text"
                        class="form-control"
                        id="bhoomiKismaElementId-{{ i + 1 }}"
                        name="bhoomiKismaElementName-{{ i + 1 }}"
                        [(ngModel)]="item.bhoomiKisma"
                      />
                    </div>
                    <div class="form-group col-md-2">
                      <label>{{
                        "COMMON.BHOOMI_HISSA_TYPE" | translate
                      }}</label>
                      <ng-select
                        name="userType"
                        [items]="cs.hissaTypeList"
                        bindLabel="Name"
                        bindValue="Id"
                        placeholder="{{
                          'COMMON.BHOOMI_HISSA_TYPE' | translate
                        }}"
                        [(ngModel)]="item.bhoomiHissaType"
                        (change)="onChangeBhoomiHissaType($event)"
                        [ngClass]="{
                          'ng-select-invalid':
                            partyDetailForm?.submitted && !item.bhoomiHissaType
                        }"
                      >
                      </ng-select>
                    </div>
                    <div class="form-group col-md-1" *ngIf="item.bhoomiHissaType === 2">
                      <label>{{ "COMMON.VIKRAY_KSHETRAFAL" | translate }}</label>
                      <input
                        type="text"
                        class="form-control"
                        id="vikrayKshetrafalElementId-{{ i + 1 }}"
                        name="vikrayKshetrafalElementName-{{ i + 1 }}"
                        [(ngModel)]="item.vikrayKshetrafal"
                      />
                    </div>
                    <div class="form-group col-md-1" *ngIf="item.bhoomiHissaType === 2">
                      <label>{{ "COMMON.V_V_DISHA" | translate }}</label>
                      <input
                        type="text"
                        class="form-control"
                        id="dishaElementId-{{ i + 1 }}"
                        name="dishaElementName-{{ i + 1 }}"
                        [(ngModel)]="item.disha"
                      />
                    </div>
                    <div
                      class="form-group col-md-1 pt-4"
                      *ngIf="propertyMeasurementParameters?.length > 1"
                    >
                      <a
                        href="javascript:void(0)"
                        title="Remove Row"
                        (click)="removeMeasureField(i)"
                        ><i class="far fa-trash-alt fa-3x"></i
                      ></a>
                    </div>
                    <div class="form-group col-md-1 pt-4" *ngIf="last">
                      <a
                        href="javascript:void(0)"
                        title="Add Row"
                        (click)="addMeasureField()"
                        ><i class="far fa-plus-square fa-3x"></i
                      ></a>
                    </div>
                  </div>
                  <div class="row justify-content-around">
                    <div class="col-md-3 pt-3">
                      <button
                        class="btn btn-primary waves-effect"
                        style="width: inherit;"
                        awPreviousStep
                      >
                        Prev
                      </button>
                    </div>
                    <div class="col-md-3 pt-3">
                      <button
                        style="width: inherit;"
                        type="submit"
                        class="btn btn-primary waves-effect"
                      >
                        Save
                      </button>
                    </div>
                    <div class="col-md-3 pt-3">
                      <button
                        class="btn btn-primary waves-effect"
                        style="width: inherit;"
                        type="button"
                        awNextStep
                      >
                        Next
                      </button>
                    </div>
                  </div>
                </form>
              </div>
              <!-- Property Detail Table -->
              <div class="card card-body">
                <div class="row">
                  <div class="col-md-12">
                    <table
                      class="table table-bordered table-hover table-responsive-lg accordion"
                      id="accordionExample"
                    >
                      <thead>
                        <tr>
                          <th scope="col">#</th>
                          <th scope="col">
                            {{ "COMMON.NAME_OF_VAILLAGE" | translate }}
                          </th>
                          <th scope="col">
                            {{ "COMMON.UPTAHSIL" | translate }}
                          </th>
                          <th scope="col">{{ "COMMON.TAHSIL" | translate }}</th>
                          <th scope="col">
                            {{ "COMMON.DISTRICT" | translate }}
                          </th>
                          <th scope="col">
                            {{ "COMMON.JAMABANDI_SAMWAT" | translate }}
                          </th>
                          <th scope="col">
                            {{ "COMMON.PATWAR_MANDAL" | translate }}
                          </th>
                          <th scope="col">
                            {{ "COMMON.NAMANTRAN_SANKHYA" | translate }}
                          </th>
                          <th scope="col">Action</th>
                        </tr>
                      </thead>
                      <tbody>
                        <ng-container
                          *ngFor="
                            let item of propertyDetailsData;
                            let i = index
                          "
                        >
                          <tr>
                            <th scope="row">{{ i + 1 }}</th>
                            <td>{{ item?.villageName }}</td>
                            <td>{{ item?.upTahsil }}</td>
                            <td>{{ item?.tahsil }}</td>
                            <td>{{ item?.district }}</td>
                            <td>{{ item?.jamabandiSamvat }}</td>
                            <td>{{ item?.patwarMandal }}</td>
                            <td>{{ item?.namantranSankhya }}</td>
                            <td id="headingOne-{{ i }}">
                              <a
                                href="javascript:void(0)"
                                data-toggle="collapse"
                                attr.data-target="#collapseOne-{{ i }}"
                                aria-expanded="true"
                                attr.aria-controls="collapseOne-{{ i }}"
                                title="View Data"
                              >
                                <i class="fas fa-eye p-1"></i
                              ></a>
                              <a
                                href="javascript:void(0)"
                                title="Edit"
                                (click)="editProperty(item, i)"
                                ><i class="far fa-edit p-1"></i
                              ></a>
                              <a
                                href="javascript:void(0)"
                                title="Delete"
                                (click)="deleteProperty(i)"
                                ><i class="far fa-trash-alt p-1"></i
                              ></a>
                            </td>
                          </tr>
                          <tr
                            id="collapseOne-{{ i }}"
                            class="collapse"
                            attr.aria-labelledby="headingOne-{{ i }}"
                            data-parent="#accordionExample"
                          >
                            <td colspan="9">
                              <table
                                class="table detail-table table-bordered table-hover table-responsive-lg"
                              >
                                <thead>
                                  <th>#</th>
                                  <th scope="col">
                                    {{ "COMMON.ACCOUNT_NUMBER" | translate }}
                                  </th>
                                  <th scope="col">
                                    {{ "COMMON.KHASRA_NUMBER" | translate }}
                                  </th>
                                  <th scope="col">
                                    {{ "COMMON.AREA" | translate }}
                                  </th>
                                  <th scope="col">
                                    {{ "COMMON.BHOOMI_KISMA" | translate }}
                                  </th>
                                </thead>
                                <tbody>
                                  <tr
                                    *ngFor="
                                      let subItem of item?.propertyMeasurementParameters;
                                      let j = index
                                    "
                                  >
                                    <th scope="row">{{ j + 1 }}</th>
                                    <td>{{ subItem?.accountNo }}</td>
                                    <td>{{ subItem?.khasraNo }}</td>
                                    <td>{{ subItem?.area }}</td>
                                    <td>{{ subItem?.bhoomiKisma }}</td>
                                  </tr>
                                </tbody>
                              </table>
                            </td>
                          </tr>
                        </ng-container>
                      </tbody>
                    </table>
                  </div>
                </div>
                <!-- <div class="row form-row align-items-center justify-content-around">
                  <div class="col-md-3 pt-3">
                    <button
                     class="btn btn-primary waves-effect"
                      style="width: inherit;" awPreviousStep>
                      Prev
                    </button>
                  </div>
                  <div class="col-md-3 pt-3">
                    <button
                     class="btn btn-primary waves-effect"
                      style="width: inherit;" awNextStep>
                      Next
                    </button>
                  </div>
                </div> -->
              </div>
            </div>
          </aw-wizard-step>

          <!-- Step 3 Party Details -->
          <aw-wizard-step
            stepTitle="{{ 'COMMON.PARTYDETAIL' | translate }}"
            [navigationSymbol]="{ symbol: '3' }"
            (stepExit)="onStepExit($event, 3)"
          >
            <div class="container-fluid">
              <!-- Party Details Form -->
              <div class="card card-body">
                <form
                  #partyDetailForm="ngForm"
                  novalidate
                  (ngSubmit)="partyDetailForm?.form?.valid && addPartyDetails()"
                >
                  <div class="row form-row align-items-center">
                    <div class="form-group col-md-2">
                      <label>{{ "COMMON.CUSTOMERTYPE" | translate }}</label>
                      <ng-select
                        name="userType"
                        [items]="cs.userTypeList"
                        bindLabel="Name"
                        bindValue="Id"
                        placeholder="{{ 'COMMON.CUSTOMERTYPE' | translate }}"
                        [(ngModel)]="userType"
                        (change)="onChangeBhoomiHissa('userType')"
                        required
                        [ngClass]="{
                          'ng-select-invalid':
                            partyDetailForm?.submitted && !userType
                        }"
                      >
                      </ng-select>
                    </div>
                    <div class="form-group col-md-2">
                      <label>{{ "COMMON.NAME" | translate }}</label>
                      <input
                        type="text"
                        class="form-control"
                        name="userElementName"
                        [(ngModel)]="partyName"
                        required
                        [ngClass]="{
                          'ng-select-invalid':
                            partyDetailForm?.submitted && !partyName
                        }"
                      />
                    </div>
                    <div class="form-group col-md-2">
                      <label>{{
                        "COMMON.RELATON_WITH_FATHER_OR_HUSBAND" | translate
                      }}</label>
                      <ng-select
                        name="userType"
                        [items]="cs.relationList"
                        bindLabel="Name"
                        bindValue="Id"
                        placeholder="{{
                          'COMMON.RELATON_WITH_FATHER_OR_HUSBAND' | translate
                        }}"
                        [(ngModel)]="relation"
                        required
                        [ngClass]="{
                          'ng-select-invalid':
                            partyDetailForm?.submitted && !relation
                        }"
                      >
                      </ng-select>
                    </div>
                    <div class="form-group col-md-3">
                      <label>{{ "COMMON.FATHERNAME" | translate }}</label>
                      <input
                        type="text"
                        class="form-control"
                        name="fatherElementName"
                        [(ngModel)]="fatherName"
                        required
                        [ngClass]="{
                          'is-invalid':
                            partyDetailForm?.submitted && !fatherName
                        }"
                      />
                    </div>

                    <div class="form-group col-md-1">
                      <label>{{ "COMMON.AGE" | translate }}</label>
                      <input
                        type="number"
                        class="form-control"
                        name="ageElementName"
                        [(ngModel)]="age"
                        required
                        [ngClass]="{
                          'is-invalid': partyDetailForm?.submitted && !age
                        }"
                      />
                    </div>
                    <div class="form-group col-md-2">
                      <label>{{ "COMMON.CAST" | translate }}</label>
                      <input
                        type="text"
                        class="form-control"
                        name="castElementName"
                        [(ngModel)]="cast"
                        required
                        [ngClass]="{
                          'is-invalid': partyDetailForm?.submitted && !cast
                        }"
                      />
                    </div>
                    <div class="form-group col-md-2">
                      <label>{{ "COMMON.ADDRESS" | translate }}</label>
                      <input
                        type="text"
                        class="form-control"
                        name="addressElementName"
                        [(ngModel)]="address"
                        required
                        [ngClass]="{
                          'is-invalid': partyDetailForm?.submitted && !address
                        }"
                      />
                    </div>
                    <div class="form-group col-md-2">
                      <label>{{ "COMMON.AADHARNO" | translate }}</label>
                      <input
                        type="text"
                        class="form-control"
                        name="aadharElementName"
                        [(ngModel)]="aadharNo"
                        required
                        [ngClass]="{
                          'is-invalid': partyDetailForm?.submitted && !aadharNo
                        }"
                      />
                    </div>
                    <div
                      class="form-group col-md-2"
                      *ngIf="userType === 1 || userType === 2"
                    >
                      <label>{{ "COMMON.PANNO" | translate }}</label>
                      <input
                        type="text"
                        class="form-control"
                        name="panNoElementName"
                        [(ngModel)]="panNo"
                        required
                        [ngClass]="{
                          'is-invalid': partyDetailForm?.submitted && !panNo
                        }"
                      />
                    </div>
                    <div class="form-group col-md-2">
                      <label>{{ "COMMON.MOBILENO" | translate }}</label>
                      <input
                        type="number"
                        class="form-control"
                        name="mobileElementName"
                        [(ngModel)]="mobileNo"
                        required
                        [ngClass]="{
                          'is-invalid': partyDetailForm?.submitted && !mobileNo
                        }"
                      />
                    </div>
                    <div
                      class="form-group col-md-2"
                      *ngIf="userType === 1 || userType === 2"
                    >
                      <label>{{ "COMMON.BHUMI_ME_HISSA" | translate }}</label>
                      <input
                        type="number"
                        class="form-control"
                        name="bhoomiHissaElementName"
                        [(ngModel)]="bhoomiHissa"
                        (change)="onChangeBhoomiHissa('bhoomiHissa')"
                        required
                        [ngClass]="{
                          'is-invalid':
                            partyDetailForm?.submitted && !bhoomiHissa
                        }"
                      />
                    </div>
                    <div class="form-group col-md-2" *ngIf="userType === 2">
                      <label>{{
                        "COMMON.HASTANTARIT_KIYA_HISSA" | translate
                      }}</label>
                      <input
                        type="number"
                        class="form-control"
                        name="hastantaritHissaElementName"
                        [(ngModel)]="hastantaritHissa"
                        (change)="onChangeBhoomiHissa('hastantaritHissa')"
                        required
                        [ngClass]="{
                          'is-invalid':
                            partyDetailForm?.submitted && !hastantaritHissa
                        }"
                      />
                    </div>
                    <div
                      class="form-group col-md-2"
                      *ngIf="userType === 1 || userType === 2"
                    >
                      <a
                        href="javascript:void(0)"
                        data-toggle="modal"
                        data-target="#hissaTableRef"
                      >
                        {{ "COMMON.BHUMI_ME_HISSA" | translate }} View/Edit
                      </a>
                    </div>
                  </div>
                  <div class="row justify-content-around">
                    <div class="col-md-3 pt-3">
                      <button
                        class="btn btn-primary waves-effect"
                        style="width: inherit;"
                        awPreviousStep
                      >
                        Prev
                      </button>
                    </div>
                    <div class="col-md-3 pt-3">
                      <button
                        style="width: inherit;"
                        type="submit"
                        class="btn btn-primary waves-effect"
                      >
                        Save
                      </button>
                    </div>
                    <div class="col-md-3 pt-3">
                      <button
                        class="btn btn-primary waves-effect"
                        style="width: inherit;"
                        type="button"
                        awNextStep
                      >
                        Next
                      </button>
                    </div>
                  </div>
                </form>
              </div>
              <!-- Party Detail Table -->
              <div class="card card-body">
                <div class="row">
                  <div class="col-md-12">
                    <table
                      class="table table-bordered table-hover table-responsive-lg"
                    >
                      <thead>
                        <tr>
                          <th scope="col">#</th>
                          <th scope="col">
                            {{ "COMMON.CUSTOMERTYPE" | translate }}
                          </th>
                          <th scope="col">{{ "COMMON.NAME" | translate }}</th>
                          <th scope="col">
                            {{ "COMMON.FATHERNAME" | translate }}
                          </th>
                          <th scope="col">{{ "COMMON.AGE" | translate }}</th>
                          <th scope="col">{{ "COMMON.CAST" | translate }}</th>
                          <th scope="col">
                            {{ "COMMON.ADDRESS" | translate }}
                          </th>
                          <th scope="col">
                            {{ "COMMON.AADHARNO" | translate }}
                          </th>
                          <th scope="col">{{ "COMMON.PANNO" | translate }}</th>
                          <th scope="col">
                            {{ "COMMON.MOBILENO" | translate }}
                          </th>
                          <th scope="col">Action</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr
                          *ngFor="let item of partyDetailsData; let i = index"
                        >
                          <th scope="row">{{ i + 1 }}</th>
                          <td>{{ item?.userTypeName }}</td>
                          <td>{{ item?.partyName }}</td>
                          <td>{{ item?.fatherName }}</td>
                          <td>{{ item?.age }}</td>
                          <td>{{ item?.cast }}</td>
                          <td>{{ item?.address }}</td>
                          <td>{{ item?.aadharNo }}</td>
                          <td>{{ item?.panNo }}</td>
                          <td>{{ item?.mobileNo }}</td>
                          <td>
                            <a
                              href="javascript:void(0)"
                              title="Edit"
                              (click)="editPartyDetail(item, i)"
                              ><i class="far fa-edit p-1"></i
                            ></a>
                            <a
                              href="javascript:void(0)"
                              title="Delete"
                              (click)="deltePartyDetail(i)"
                              ><i class="far fa-trash-alt p-1"></i
                            ></a>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </aw-wizard-step>

          <!-- Step -4 Conditions Steps -->
          <aw-wizard-step
            stepTitle="{{ 'COMMON.CONDITIONS' | translate }}"
            [navigationSymbol]="{ symbol: '4' }"
          >
            <div class="container-fluid">
              <div class="card card-body">
                <form
                  #conditionalForm="ngForm"
                  novalidate
                  (ngSubmit)="conditionalForm?.form?.valid && submit(4)"
                >
                  <div class="row form-row align-items-center">
                    <div class="form-group col-md-3">
                      <label>{{
                        "COMMON.DISTANCE_FROM_ABADI_AREA" | translate
                      }}</label>
                      <input
                        type="text"
                        class="form-control"
                        name="distanceFromAabadiAreaElementName"
                        [(ngModel)]="distanceFromAabadiArea"
                        required
                        [ngClass]="{
                          'is-invalid':
                            conditionalForm?.submitted &&
                            !distanceFromAabadiArea
                        }"
                      />
                    </div>
                    <div class="form-group col-md-3">
                      <label>{{
                        "COMMON.DISTANCE_FROM_KHANAN_AREA" | translate
                      }}</label>
                      <input
                        type="text"
                        class="form-control"
                        name="distanceFromKhananAreaElementName"
                        [(ngModel)]="distanceFromKhananArea"
                        required
                        [ngClass]="{
                          'is-invalid':
                            conditionalForm?.submitted &&
                            !distanceFromKhananArea
                        }"
                      />
                    </div>
                    <div class="form-group col-md-3">
                      <label>{{
                        "COMMON.DISTANCE_FROM_INDUSTRIAL_AREA" | translate
                      }}</label>
                      <input
                        type="text"
                        class="form-control"
                        name="distanceFromIndustrialAreaElementName"
                        [(ngModel)]="distanceFromIndustrialArea"
                        required
                        [ngClass]="{
                          'is-invalid':
                            conditionalForm?.submitted &&
                            !distanceFromIndustrialArea
                        }"
                      />
                    </div>
                    <div class="form-group col-md-3">
                      <label>{{ "COMMON.NEARBY_ROAD_NAME" | translate }}</label>
                      <input
                        type="text"
                        class="form-control"
                        name="nearbyRoadElementName"
                        [(ngModel)]="nameOfNearbyRoad"
                        required
                        [ngClass]="{
                          'is-invalid':
                            conditionalForm?.submitted && !nameOfNearbyRoad
                        }"
                      />
                    </div>
                    <div class="form-group col-md-3">
                      <label>{{
                        "COMMON.DISTANCE_FROM_NEARYBYROAD" | translate
                      }}</label>
                      <input
                        type="text"
                        class="form-control"
                        name="nearbyRoadDistanceElementName"
                        [(ngModel)]="distanceFromNearbyRoad"
                        required
                        [ngClass]="{
                          'is-invalid':
                            conditionalForm?.submitted &&
                            !distanceFromNearbyRoad
                        }"
                      />
                    </div>
                    <div class="form-group col-md-3">
                      <label>{{
                        "COMMON.CONSTRUCTION_AREA_MEASUREMENT" | translate
                      }}</label>
                      <input
                        type="text"
                        class="form-control"
                        name="constructionAreaElementName"
                        [(ngModel)]="constructionAreaMeasurement"
                        required
                        [ngClass]="{
                          'is-invalid':
                            conditionalForm?.submitted &&
                            !constructionAreaMeasurement
                        }"
                      />
                    </div>
                    <div class="form-group col-md-3">
                      <label>{{ "COMMON.LAND_TYPE" | translate }}</label>
                      <ng-select
                        name="landType"
                        [items]="cs.landTypeList"
                        bindLabel="Name"
                        bindValue="Id"
                        [(ngModel)]="landTypeId"
                        placeholder="{{ 'COMMON.LAND_TYPE' | translate }}"
                        required
                        [ngClass]="{
                          'ng-select-invalid':
                            conditionalForm?.submitted && !landTypeId
                        }"
                      >
                      </ng-select>
                    </div>
                    <div class="form-group col-md-3">
                      <label>{{ "COMMON.MUDRANK_TYPE" | translate }}</label>
                      <ng-select
                        name="mudrankType"
                        [items]="cs.mudrankTypeList"
                        bindLabel="Name"
                        bindValue="Id"
                        [(ngModel)]="mudrankTypeId"
                        placeholder="{{ 'COMMON.MUDRANK_TYPE' | translate }}"
                        required
                        [ngClass]="{
                          'ng-select-invalid':
                            conditionalForm?.submitted && !mudrankTypeId
                        }"
                      >
                      </ng-select>
                    </div>
                  </div>
                  <div class="row form-row align-items-center">
                    <h5>
                      {{
                        "COMMON.EXTRA_CONDITIONS" | translate
                      }}
                    </h5>
                  </div>
                  <ng-container
                    *ngFor="
                      let condition of extraaConditions;
                      let i = index;
                      let last = last;
                    "
                  >
                    <form
                      #conditionsForm="ngForm"
                      novalidate
                      (ngSubmit)="
                        conditionsForm?.form?.valid &&
                          extraaConditions.push('')
                      "
                    >
                      <div
                        class="row form-row align-items-center"
                      >
                        <div class="form-group col-md-10">
                          <!-- <label>{{
                            "COMMON.EXTRA_CONDITIONS" | translate
                          }}</label> -->
                          <input
                            type="text"
                            class="form-control"
                            name="conditionsName-{{ i }}"
                            [(ngModel)]="extraaConditions[i]"
                            required
                            [ngClass]="{
                              'is-invalid':
                                conditionsForm?.submitted && !extraaConditions[i]
                            }"
                          />
                        </div>
                        <div
                          class="form-group col-md-1 pt-4"
                          *ngIf="extraaConditions?.length > 1"
                        >
                          <a
                            href="javascript:void(0)"
                            title="Remove Row"
                            (click)="extraaConditions.splice(i, 1)"
                            ><i class="far fa-trash-alt fa-3x"></i
                          ></a>
                        </div>
                        <div class="form-group col-md-1 pt-4" *ngIf="last">
                          <button
                            type="submit"
                            href="javascript:void(0)"
                            title="Add Row"
                          >
                            <i class="far fa-plus-square fa-3x"></i>
                          </button>
                        </div>
                      </div>
                    </form>
                  </ng-container>
                  <div
                    class="row form-row align-items-center justify-content-around"
                  >
                    <div class="col-md-3 pt-3">
                      <button
                        class="btn btn-primary waves-effect"
                        style="width: inherit;"
                        awPreviousStep
                      >
                        Prev
                      </button>
                    </div>
                    <div class="col-md-3 pt-3">
                      <button
                        type="submit"
                        class="btn btn-primary waves-effect"
                        style="width: inherit;"
                      >
                        Finish
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </aw-wizard-step>
        </aw-wizard>
      </div>
    </div>
  </div>
</div>

<!-- Bhoomi Hissa Section -->
<div
  class="modal fade"
  id="hissaTableRef"
  tabindex="-1"
  role="dialog"
  aria-labelledby="hissaTableRefTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">
          {{ "COMMON.BHUMI_ME_HISSA" | translate }}
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="card card-body">
          <div class="row">
            <div class="col-md-12">
              <table
                class="table table-bordered table-hover table-responsive-lg"
              >
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">
                      {{ "COMMON.NAME_OF_VAILLAGE" | translate }}
                    </th>
                    <th scope="col">
                      {{ "COMMON.ACCOUNT_NUMBER" | translate }}
                    </th>
                    <th scope="col">
                      {{ "COMMON.KHASRA_NUMBER" | translate }}
                    </th>
                    <th scope="col">{{ "COMMON.AREA" | translate }}</th>
                    <th scope="col">{{ "COMMON.BHOOMI_KISMA" | translate }}</th>
                    <th scope="col">
                      {{ "COMMON.BHUMI_ME_HISSA" | translate }}
                    </th>
                    <th scope="col" *ngIf="userType === 2">
                      {{ "COMMON.HASTANTARIT_KIYA_HISSA" | translate }}
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <ng-container
                    *ngFor="
                      let placeItem of currentPartyBhoomiHissa;
                      let i = index
                    "
                  >
                    <tr
                      *ngFor="
                        let khasraItem of placeItem?.propertyMeasurementParameters;
                        let j = index
                      "
                    >
                      <th scope="row">{{ i + 1 }}</th>
                      <td>{{ placeItem?.villageName }}</td>
                      <td>{{ khasraItem?.accountNo }}</td>
                      <td>{{ khasraItem?.khasraNo }}</td>
                      <td>{{ khasraItem?.area }}</td>
                      <td>{{ khasraItem?.bhoomiKisma }}</td>
                      <td>
                        <input
                          type="number"
                          class="form-control"
                          name="bhoomiHissaElementName-{{ i }}{{ j }}"
                          [(ngModel)]="khasraItem.bhoomiHissa"
                        />
                      </td>
                      <td *ngIf="userType === 2">
                        <input
                          type="number"
                          class="form-control"
                          name="hastantaritHissaElementName-{{ i }}{{ j }}"
                          [(ngModel)]="khasraItem.hastantaritHissa"
                        />
                      </td>
                    </tr>
                  </ng-container>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div> -->
    </div>
  </div>
</div>
