<div class="container-fluid">
  <div class="card card-body">
    <h3 class="text-center" [translate]="'COMMON.PROPERTYDETAILS'"></h3>
    <hr />
    <form
      #propertyDetailFrom="ngForm"
      novalidate
      (ngSubmit)="propertyDetailFrom?.form?.valid && submit()"
    >
      <div class="row form-row align-items-center">
        <div class="form-group col-md-4">
          <label>{{ "COMMON.DISTRICT" | translate }}</label>
          <input
            type="text"
            class="form-control"
            name="districtElementName"
            [(ngModel)]="district"
          />
        </div>
        <div class="form-group col-md-4">
          <label>{{ "COMMON.TAHSIL" | translate }}</label>
          <input
            type="text"
            class="form-control"
            name="tahsilElementName"
            [(ngModel)]="tahsil"
          />
        </div>
        <div class="form-group col-md-4">
          <label>{{ "COMMON.UPTAHSIL" | translate }}</label>
          <input
            type="text"
            class="form-control"
            name="upTahsilElementName"
            [(ngModel)]="upTahsil"
          />
        </div>
        <div class="form-group col-md-3">
          <label>{{ "COMMON.NAME_OF_VAILLAGE" | translate }}</label>
          <input
            type="text"
            class="form-control"
            name="villageElementName"
            [(ngModel)]="villageName"
          />
        </div>
        <div class="form-group col-md-3">
          <label>{{ "COMMON.PATWAR_MANDAL" | translate }}</label>
          <input
            type="text"
            class="form-control"
            name="patwarMandalElementName"
            [(ngModel)]="patwarMandal"
          />
        </div>
        <div class="form-group col-md-3">
          <label>{{ "COMMON.JAMABANDI_SAMWAT" | translate }}</label>
          <input
            type="text"
            class="form-control"
            name="jamaBandElementName"
            [(ngModel)]="jamabandiSamvat"
          />
        </div>
        <div class="form-group col-md-3">
          <label>{{ "COMMON.NAMANTRAN_SANKHYA" | translate }}</label>
          <input
            type="text"
            class="form-control"
            name="namanTranSankhyaElementName"
            [(ngModel)]="namantranSankhya"
          />
        </div>
      </div>
      <div
        style="box-shadow: 0 0 1px #0f0e0d;"
        class="row form-row align-items-center"
        *ngFor="
          let item of propertyMeasurementFields;
          let i = index;
          let last = last
        "
      >
        <div class="form-group col-md-3">
          <label>{{ "COMMON.ACCOUNT_NUMBER" | translate }}</label>
          <input
            type="text"
            class="form-control"
            id="khataSankhyaElementId-{{ i + 1 }}"
            name="khataSankhyaElementName-{{ i + 1 }}"
            [(ngModel)]="item.accountNo"
          />
        </div>
        <div class="form-group col-md-2">
          <label>{{ "COMMON.KHASRA_NUMBER" | translate }}</label>
          <input
            type="text"
            class="form-control"
            id="khasraNoElementId-{{ i + 1 }}"
            name="khasraNoElementName-{{ i + 1 }}"
            [(ngModel)]="item.khasraNo"
          />
        </div>
        <div class="form-group col-md-3">
          <label>{{ "COMMON.AREA" | translate }}</label>
          <input
            type="text"
            class="form-control"
            id="kshetraFalElementId-{{ i + 1 }}"
            name="kshetraFalElementName-{{ i + 1 }}"
            [(ngModel)]="item.area"
          />
        </div>
        <div class="form-group col-md-3">
          <label>{{ "COMMON.BHOOMI_KISMA" | translate }}</label>
          <input
            type="text"
            class="form-control"
            id="bhoomiKismaElementId-{{ i + 1 }}"
            name="bhoomiKismaElementName-{{ i + 1 }}"
            [(ngModel)]="item.bhoomiKisma"
          />
        </div>
        <div class="form-group col-md-1 pt-4" *ngIf="propertyMeasurementFields?.length > 1">
          <a
            href="javascript:void(0)"
            title="Remove Row"
            (click)="removeField(i)"
            ><i class="far fa-trash-alt fa-3x"></i
          ></a>
        </div>
        <div class="form-group col-md-1 pt-4" *ngIf="last">
          <a href="javascript:void(0)" title="Add Row" (click)="addField()"
            ><i class="far fa-plus-square fa-3x"></i
          ></a>
        </div>
      </div>
      <div class="row form-row align-items-center">
        <div class="col-md-3 pt-3">
          <button type="submit" class="btn btn-primary waves-effect" style="width: inherit;">
            Save
          </button>
        </div>
      </div>
    </form>
  </div>

  <div class="card card-body">
    <div class="row">
      <div class="col-md-12">
        <table
          class="table table-bordered table-hover table-responsive-lg accordion"
          id="accordionExample"
        >
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">{{ "COMMON.NAME_OF_VAILLAGE" | translate }}</th>
              <th scope="col">{{ "COMMON.UPTAHSIL" | translate }}</th>
              <th scope="col">{{ "COMMON.TAHSIL" | translate }}</th>
              <th scope="col">{{ "COMMON.DISTRICT" | translate }}</th>
              <th scope="col">{{ "COMMON.JAMABANDI_SAMWAT" | translate }}</th>
              <th scope="col">{{ "COMMON.PATWAR_MANDAL" | translate }}</th>
              <th scope="col">{{ "COMMON.NAMANTRAN_SANKHYA" | translate }}</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <ng-container
              *ngFor="let item of propertyDetailList; let i = index"
            >
              <tr>
                <th scope="row">{{ i + 1 }}</th>
                <td>{{ item?.villageName }}</td>
                <td>{{ item?.upTahsil }}</td>
                <td>{{ item?.tahsil }}</td>
                <td>{{ item?.district }}</td>
                <td>{{ item?.jamabandiSamvat }}</td>
                <td>{{ item?.patwarMandal }}</td>
                <td>{{ item?.namantranSankhya }}</td>
                <td id="headingOne-{{ i }}">
                  <a
                    href="javascript:void(0)"
                    data-toggle="collapse"
                    attr.data-target="#collapseOne-{{ i }}"
                    aria-expanded="true"
                    attr.aria-controls="collapseOne-{{ i }}"
                    title="View Data"
                  >
                    <i class="fas fa-eye p-1"></i
                  ></a>
                  <a
                    href="javascript:void(0)"
                    title="Edit"
                    (click)="editProperty(item)"
                    ><i class="far fa-edit p-1"></i
                  ></a>
                  <a
                    href="javascript:void(0)"
                    title="Delete"
                    (click)="deleteProperty(item, i)"
                    ><i class="far fa-trash-alt p-1"></i
                  ></a>
                </td>
              </tr>
              <tr
                id="collapseOne-{{ i }}"
                class="collapse"
                attr.aria-labelledby="headingOne-{{ i }}"
                data-parent="#accordionExample"
              >
                <td colspan="9">
                  <table
                    class="table detail-table table-bordered table-hover table-responsive-lg"
                  >
                    <thead>
                      <th>#</th>
                      <th scope="col">{{ "COMMON.ACCOUNT_NUMBER" | translate }}</th>
                      <th scope="col">{{ "COMMON.KHASRA_NUMBER" | translate }}</th>
                      <th scope="col">{{ "COMMON.AREA" | translate }}</th>
                      <th scope="col">{{ "COMMON.BHOOMI_KISMA" | translate }}</th>
                    </thead>
                    <tbody>
                      <tr
                        *ngFor="
                          let subItem of item?.propertyMeasurementParameters;
                          let j = index
                        "
                      >
                        <th scope="row">{{ j + 1 }}</th>
                        <td>{{ subItem?.accountNo }}</td>
                        <td>{{ subItem?.khasraNo }}</td>
                        <td>{{ subItem?.area }}</td>
                        <td>{{ subItem?.bhoomiKisma }}</td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>







<!-- Testing Templates -->