/* You can add global styles to this file, and also import other style files */
@import "~@ng-select/ng-select/themes/default.theme.css";
@import "~ng-pick-datetime/assets/style/picker.min.css";
@import "../node_modules/angular-archwizard/archwizard.css";
html, body { 
  margin:0; 
  padding:0; 
  height:100%;
  width: 100%; 
}
table {
  tbody {
    color: #5a6deb !important;
  }
  thead {
    background: aliceblue;
  }
}
table.detail-table {
  background-color: #f8f9fc !important;
}
.svg-icon {
  width: 25px;
}

.modal-full-width {
  margin: 0px !important;
  .modal-content {
    width: 100vw;
    height: 100%;
  }
}

.ng-select-container{
  border-radius: 0 !important;
}
.ng-select-invalid .ng-select-container {
  border-color: red !important;
}
.cdk-global-overlay-wrapper,
.cdk-overlay-container {
  z-index: 9999999 !important;
}


aw-wizard-navigation-bar.horizontal.large-empty-symbols ul.steps-indicator li .label {
  font-size: 20px;
  color: #090909;
  line-height: 1.5em;
}

aw-wizard-navigation-bar.horizontal.large-empty-symbols ul.steps-indicator li.current .step-indicator {
  background: #0cf17d !important;
}

aw-wizard-navigation-bar.horizontal.large-empty-symbols ul.steps-indicator li.current .label {
  color: #0cf17d !important; 
}
.container {
  max-width: 100% !important;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.swal2-styled.swal2-deny, .swal2-styled.swal2-confirm{
  background-color: var(--theme-color) !important;
  color: var(--white) !important;
  font-weight: bold;
}
.swal2-title{
  color: var(--black) !important;
}

.form-heading {
  color: var(--black);
  text-transform: uppercase;
}
.form-section-heading {
  background: var(--theme-color);
  color: var(--white);
  font-weight: bold;
  font-size: 1.2rem;
}
.form-sub-section-heading {
  background: var(--theme-color);
  color: var(--white);
  font-weight: bold;
}
.row-box-shade {
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
}
label {
  font-weight: bold;
}
[data-toggle="collapse"] .fa:before {
  content: "\f077";
}
[data-toggle="collapse"].collapsed .fa:before {
  content: "\f078";
}
.footer-section.card {
  position: sticky;
  bottom: 0;
  border-radius: 0%;
  background: var(--home-color);
  padding: 0.7rem;
}
.toast-success {
  background-color: #45bc03 !important;
}
.home-anchor {
  color: var(--home-color);
}