<div class="d-none"><button class="btn btn-primary" (click)="addDataFromJson()">Add default Data</button></div>
<h3 class="text-center font-weight-bold form-heading py-3">प्लाट-रजिस्ट्री(PLOT-REGISTRY)</h3>
<form #saleDeedForm="ngForm" novalidate (ngSubmit)="submitForm()">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <a data-toggle="collapse" href="#vikretaSection">
                    <h5 class="form-section-heading p-2">विक्रेता का विवरण <i class="fa float-right"></i></h5>
                </a>
            </div>
        </div>
        <div class="collapse show" id="vikretaSection">
        <div *ngFor="let vikreta of vikretaList;let i = index;let last = last;">
            <div class="row m-0 p-2 row-box-shade align-items-end">
                <div class="form-group col-md-2">
                    <label>नाम</label>
                    <input type="text" class="form-control" name="vikretaElementName-{{i}}"
                        [(ngModel)]="vikreta.vikretaName" placeholder="" />
                </div>
                <div class="form-group col-md-2">
                    <label>सम्बन्ध</label>
                    <ng-select name="sambandh-{{i}}" [items]="cs.relationList" bindLabel="Name" bindValue="Name"
                        [(ngModel)]="vikreta.relation" placeholder="सम्बन्ध">
                    </ng-select>
                </div>
                <div class="form-group col-md-2">
                    <label>पिता/पति का नाम</label>
                    <input type="text" class="form-control" name="fatherElementName-{{i}}"
                        [(ngModel)]="vikreta.fatherName" placeholder="" />
                </div>

                <div class="form-group col-md-1">
                    <label>आयु</label>
                    <input type="number" class="form-control" name="ageElementName-{{i}}" [(ngModel)]="vikreta.age" />
                </div>
                <div class="form-group col-md-2">
                    <label>जाति</label>
                    <input type="text" class="form-control" name="castElementName-{{i}}" [(ngModel)]="vikreta.cast" />
                </div>
                <div class="form-group col-md-3">
                    <label>निवास</label>
                    <input type="text" class="form-control" name="addressElementName-{{i}}"
                        [(ngModel)]="vikreta.address" />
                </div>
                <div class="form-group col-md-2">
                    <label>तहसील</label>
                    <input type="text" class="form-control" name="tahsilElementName-{{i}}"
                        [(ngModel)]="vikreta.tahsil" />
                </div>
                <div class="form-group col-md-2">
                    <label>जिला</label>
                    <input type="text" class="form-control" name="districtElementName-{{i}}"
                        [(ngModel)]="vikreta.district" />
                </div>
                <div class="form-group col-md-2">
                    <label>आधार नंबर</label>
                    <input type="text" class="form-control" name="aadharElementName-{{i}}"
                        [(ngModel)]="vikreta.aadharNo" />
                </div>
                <div class="form-group col-md-2">
                    <label>पैन नंबर</label>
                    <input type="text" class="form-control" name="panNoElementName-{{i}}" [(ngModel)]="vikreta.panNo" />
                </div>
                <div class="form-group col-md-1">
                    <label>भूमि में हिस्सा</label>
                    <input type="text" class="form-control" name="bhoomiHissaElementName-{{i}}"
                        [(ngModel)]="vikreta.bhoomiHissa" />
                </div>
                <div class="form-group col-md-1 pt-4">
                    <a *ngIf="vikretaList?.length > 1" href="javascript:void(0)" title="Remove Row"
                        (click)="deleteVikreta(i)"><i class="far fa-trash-alt fa-2x mr-2"></i></a>
                    <a href="javascript:void(0)" title="Add Row" (click)="addVikreta()" *ngIf="last"><i
                            class="far fa-plus-square fa-2x"></i></a>
                </div>
                <!-- <div class="form-group col-md-1 pt-4" *ngIf="last">
                    <a href="javascript:void(0)" title="Add Row" (click)="addVikreta()"><i
                            class="far fa-plus-square fa-3x"></i></a>
                </div> -->
            </div>
            <hr *ngIf="vikretaList?.length > 1 && !last">
        </div></div>

        <div class="row">
            <div class="col-12 pt-2">
                <a data-toggle="collapse" href="#kretaSection">
                    <h5 class="form-section-heading p-2">क्रेता का विवरण <i class="fa float-right"></i></h5>
                </a>
            </div>
        </div>
        <div class="collapse show" id="kretaSection">
        <div *ngFor="let kreta of kretaList;let i = index;let last = last;">
            <div class="row m-0 p-2 row-box-shade align-items-end">
                <div class="form-group col-md-2">
                    <label>नाम</label>
                    <input type="text" class="form-control" name="vikretaElementName-kreta-{{i}}"
                        [(ngModel)]="kreta.vikretaName" placeholder="" />
                </div>
                <div class="form-group col-md-2">
                    <label>सम्बन्ध</label>
                    <ng-select name="sambandh-kreta-{{i}}" [items]="cs.relationList" bindLabel="Name" bindValue="Name"
                        [(ngModel)]="kreta.relation" placeholder="सम्बन्ध">
                    </ng-select>
                </div>
                <div class="form-group col-md-2">
                    <label>पिता/पति का नाम</label>
                    <input type="text" class="form-control" name="fatherElementName-kreta-{{i}}"
                        [(ngModel)]="kreta.fatherName" placeholder="" />
                </div>

                <div class="form-group col-md-1">
                    <label>आयु</label>
                    <input type="number" class="form-control" name="ageElementName-kreta-{{i}}"
                        [(ngModel)]="kreta.age" />
                </div>
                <div class="form-group col-md-2">
                    <label>जाति</label>
                    <input type="text" class="form-control" name="castElementName-kreta-{{i}}"
                        [(ngModel)]="kreta.cast" />
                </div>
                <div class="form-group col-md-3">
                    <label>निवास </label>
                    <input type="text" class="form-control" name="addressElementName-kreta-{{i}}"
                        [(ngModel)]="kreta.address" />
                </div>
                <div class="form-group col-md-2">
                    <label>तहसील</label>
                    <input type="text" class="form-control" name="tahsilElementName-kreta-{{i}}"
                        [(ngModel)]="kreta.tahsil" />
                </div>
                <div class="form-group col-md-2">
                    <label>जिला</label>
                    <input type="text" class="form-control" name="districtElementName-kreta-{{i}}"
                        [(ngModel)]="kreta.district" />
                </div>
                <div class="form-group col-md-2">
                    <label>आधार नंबर</label>
                    <input type="text" class="form-control" name="aadharElementName-kreta-{{i}}"
                        [(ngModel)]="kreta.aadharNo" />
                </div>
                <div class="form-group col-md-2">
                    <label>पैन नंबर</label>
                    <input type="text" class="form-control" name="panNoElementName-kreta-{{i}}"
                        [(ngModel)]="kreta.panNo" />
                </div>
                <div class="form-group col-md-1">
                    <label>भूमि में हिस्सा</label>
                    <input type="text" class="form-control" name="bhoomiHissaElementName-kreta-{{i}}"
                        [(ngModel)]="kreta.bhoomiHissa" />
                </div>
                <div class="form-group col-md-1 pt-4">
                    <a *ngIf="kretaList?.length > 1" href="javascript:void(0)" title="Remove Row"
                        (click)="deleteKreta(i)"><i class="far fa-trash-alt fa-2x mr-2"></i></a>
                    <a *ngIf="last" href="javascript:void(0)" title="Add Row" (click)="addKreta()"><i
                            class="far fa-plus-square fa-2x"></i></a>
                </div>
                <!-- <div class="form-group col-md-1 pt-4" >
                    <a href="javascript:void(0)" title="Add Row" (click)="addKreta()"><i
                            class="far fa-plus-square fa-3x"></i></a>
                </div> -->
            </div>
            <hr *ngIf="kretaList?.length > 1 && !last">
        </div></div>

        <div class="row">
            <div class="col-12 pt-2">
                <a data-toggle="collapse" href="#rashiVivran">
                    <h5 class="form-section-heading p-2">राशि का विवरण <i class="fa float-right"></i></h5>
                </a>
            </div>
        </div>
        <div class="collapse show" id="rashiVivran">
            <div class="row m-0">
                <div class="form-group col-md-2">
                    <label>विक्रय राशि (अंको में)</label>
                    <input type="text" class="form-control" name="vikrayRashielementName" [(ngModel)]="amountInNumber"
                        placeholder="" />
                </div>

                <div class="form-group col-md-5">
                    <label>विक्रय राशि (शब्दो में)</label>
                    <input type="text" class="form-control" name="vikrayRashiWordelementName" placeholder=""
                        [(ngModel)]="amountInWords" />
                </div>
                <div class="form-group col-md-2">
                    <label>नगद में प्राप्त राशि (अंको में)</label>
                    <input type="text" class="form-control" name="nakadAmountElementName" placeholder=""
                        [(ngModel)]="nakadAmount" />
                </div>
            </div>
            <div class="row m-0">
                <div class="col-12">
                    <h6 class="form-sub-section-heading p-1">चेक से दी गयी राशि का विवरण</h6>
                </div>
            </div>

            <ng-container *ngFor="let checkItem of checkList;let i = index; let last = last;">
                <div class="row m-0 row-box-shade align-items-end">
                    <div class="form-group col-md-2">
                        <label>चेक संख्या</label>
                        <input type="text" class="form-control" name="checkNo-{{i}}" [(ngModel)]="checkItem.checkNo"
                            placeholder="" />
                    </div>

                    <div class="form-group col-md-2">
                        <label>चेक की राशि</label>
                        <input type="number" class="form-control" name="checkAmt-{{i}}" placeholder=""
                            [(ngModel)]="checkItem.checkAmt" />
                    </div>
                    <div class="form-group col-md-2">
                        <label>चेक वाले बैंक का नाम</label>
                        <input type="text" class="form-control" name="bankName-{{i}}" placeholder=""
                            [(ngModel)]="checkItem.bankName" />
                    </div>
                    <div class="form-group col-md-1 pt-4">
                        <a *ngIf="checkList?.length > 1" href="javascript:void(0)" title="Remove Row"
                            (click)="deleteCheck(i)"><i class="far fa-trash-alt fa-2x mr-2"></i></a>
                        <a *ngIf="last" href="javascript:void(0)" title="Add Row" (click)="addCheck()"><i
                                class="far fa-plus-square fa-2x"></i></a>
                    </div>
                    <!-- <div class="form-group col-md-1 pt-4" >
                    <a href="javascript:void(0)" title="Add Row" (click)="addCheck()"><i
                            class="far fa-plus-square fa-3x"></i></a>
                </div> -->
                </div>
                <hr *ngIf="checkList?.length > 1 && !last">
            </ng-container>
        </div>
        <!-- Property Details -->
        <div class="row">
            <div class="col-12 pt-2">
                <a data-toggle="collapse" href="#bhoomiVivran">
                    <h5 class="form-section-heading p-2">संपत्ति का विवरण <i class="fa float-right"></i></h5>
                </a>
            </div>
        </div>
        <div class="collapse show" id="bhoomiVivran">
            <div class="row m-0 ">
                <div class="form-group col-md-2">
                    <label>उप पंजीयक कार्यालय का नाम</label>
                    <input type="text" class="form-control" name="upPanjiyakKaryalayElementName"
                        [(ngModel)]="upPanjiyakKaryalay" placeholder="" />
                </div>
                <div class="form-group col-md-2">
                    <label>तहसील</label>
                    <input type="text" class="form-control" name="propertyTahsilElementName"
                        [(ngModel)]="propertyTahsil" placeholder="" />
                </div>
                <div class="form-group col-md-2">
                    <label>उपतहसील</label>
                    <input type="text" class="form-control" name="propertyUpTahsilElementName"
                        [(ngModel)]="propertyUpTahsil" placeholder="" />
                </div>
                <div class="form-group col-md-2">
                    <label>जिला</label>
                    <input type="text" class="form-control" name="propertyjilaElementName"
                        [(ngModel)]="propertyDistrict" placeholder="" />
                </div>
                <div class="form-group col-md-2">
                    <label>गाँव का नाम</label>
                    <input type="text" class="form-control" name="villageElementName"
                        [(ngModel)]="villageName" placeholder="" />
                </div>
                <div class="form-group col-md-2">
                    <label>पटवार मंडल</label>
                    <input type="text" class="form-control" name="patwarMandalElementName"
                        [(ngModel)]="patwarMandal" placeholder="" />
                </div>
                <div class="form-group col-md-2">
                    <label>जमाबंदी संवत</label>
                    <input type="text" class="form-control" name="jamaBandElementName"
                        [(ngModel)]="jamabandiSamvat" placeholder="" />
                </div>
                <div class="form-group col-md-1">
                    <label>खाता संख्या</label>
                    <input type="text" class="form-control" name="khataSankhyaElementName"
                        [(ngModel)]="khataSankhya" placeholder="" />
                </div>

                <div class="form-group col-md-1">
                    <label>खसरा संख्या</label>
                    <input type="number" class="form-control" name="khasraSankhyaElementName" placeholder=""
                        [(ngModel)]="khasraSankhya" />
                </div>
                <div class="form-group col-md-1">
                    <label>क्षैत्रफल</label>
                    <input type="text" class="form-control" name="kshetrafalElementName" placeholder=""
                        [(ngModel)]="kshetrafal" />
                </div>
                <div class="form-group col-md-5">
                    <label>विक्रेताओ के विक्रय हिस्से का विवरण</label>
                    <input type="text" class="form-control" name="vikrayVivaranElementName" placeholder=""
                        [(ngModel)]="vikrayVivaran" />
                </div>
            </div>
            <ng-container *ngFor="let plotParameter of plotDetailsList;let i = index; let last = last;">
                <div class="row m-0 row-box-shade align-items-center">
                    <div class="form-group col-md-2">
                        <label>कॉलोनी/वार्ड संख्या</label>
                        <input type="text" class="form-control" name="colonyOrWardNoElementName-{{i}}" placeholder=""
                            [(ngModel)]="plotParameter.colonyOrWardNo" />
                    </div>
                    <div class="form-group col-md-2">
                        <label>प्लाट/मकान संख्या</label>
                        <input type="text" class="form-control" name="plotNoElementName-{{i}}" placeholder=""
                            [(ngModel)]="plotParameter.plotNo" />
                    </div>
                    <div class="form-group col-md-2">
                        <label>प्लाट क्षेत्रफल</label>
                        <input type="text" class="form-control" name="plotAreaElementName-{{i}}" placeholder=""
                            [(ngModel)]="plotParameter.plotArea" />
                    </div>
                    <div class="form-group col-md-2">
                        <label>क्षेत्रफल की ईकाई</label>
                        <ng-select name="unitOfAreaElementName-{{i}}" [items]="cs.unitOfAreaList" placeholder="क्षेत्रफल की ईकाई"
                            bindLabel="Name" bindValue="Name" [(ngModel)]="plotParameter.unit">
                        </ng-select>
                    </div>
                    <div class="form-group col-md-2">
                        <label>निर्माण का क्षेत्रफल</label>
                        <input type="text" class="form-control" name="constructionAreaElementName-{{i}}" placeholder=""
                            [(ngModel)]="plotParameter.constructionArea" />
                    </div>
                    <div class="form-group col-md-2">
                        <label>निर्माण का विवरण</label>
                        <input type="text" class="form-control" name="constructionDetailsElementName-{{i}}" placeholder=""
                            [(ngModel)]="plotParameter.constructionDetails" />
                    </div>
                    <div class="form-group col-11">
                        <table class="table table-sm table-bordered">
                            <thead>
                              <tr>
                                <th scope="col" class="text-center">दिशा</th>
                                <th scope="col" class="text-center">चतुर्सीमा</th>
                                <th scope="col" class="text-center">चतुर्दिशा</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <th scope="row" class="first-col">उत्तर</th>
                                <td>
                                    <input type="text" class="form-control" name="northBoundaryElementName-{{i}}" placeholder=""
                                        [(ngModel)]="plotParameter.northBoundary" />
                                </td>
                                <td>
                                    <input type="text" class="form-control" name="northDirectionElementName-{{i}}" placeholder=""
                                    [(ngModel)]="plotParameter.northDirection"/>
                                </td>
                              </tr>
                              <tr>
                                <th scope="row" class="first-col">दक्षिण</th>
                                <td>
                                    <input type="text" class="form-control" name="southBoundaryElementName-{{i}}" placeholder=""
                                    [(ngModel)]="plotParameter.southBoundary"/>
                                </td>
                                <td>
                                    <input type="text" class="form-control" name="southDirectionElementName-{{i}}" placeholder=""
                                    [(ngModel)]="plotParameter.southDirection"/>
                                </td>
                              </tr>
                              <tr>
                                <th scope="row" class="first-col">पूर्व</th>
                                <td>
                                    <input type="text" class="form-control" name="eastBoundaryElementName-{{i}}" placeholder=""
                                    [(ngModel)]="plotParameter.eastBoundary"/>
                                </td>
                                <td>
                                    <input type="text" class="form-control" name="eastDirectionElementName-{{i}}" placeholder=""
                                    [(ngModel)]="plotParameter.eastDirection"/>
                                </td>
                              </tr>
                              <tr>
                                <th scope="row" class="first-col">पश्चिम</th>
                                <td>
                                    <input type="text" class="form-control" name="westBoundaryElementName-{{i}}" placeholder=""
                                    [(ngModel)]="plotParameter.westBoundary"/>
                                </td>
                                <td>
                                    <input type="text" class="form-control" name="westDirectionElementName-{{i}}" placeholder=""
                                    [(ngModel)]="plotParameter.westDirection"/>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                    </div>    
                    <div class="form-group col-md-1 pt-4">
                        <a *ngIf="plotDetailsList?.length > 1" href="javascript:void(0)" title="Remove Row"
                            (click)="deletePlotDetails(i)"><i class="far fa-trash-alt fa-2x mr-2"></i></a>
                        <a *ngIf="last" href="javascript:void(0)" title="Add Row" (click)="addPlotDetails()"><i
                                class="far fa-plus-square fa-2x"></i></a>
                    </div>
                </div>
                <hr *ngIf="plotDetailsList?.length > 1 && !last">
            </ng-container>
        </div>
        <!-- Property Details -->

        <!-- Previous Document Details -->
        <div class="row">
            <div class="col-12 pt-2">
                <a data-toggle="collapse" href="#previouDocumentDetailsId">
                    <h5 class="form-section-heading p-2">यदि पुर्ववर्ती दस्तावेज/पट्टा पंजीबद्ध हो तो उसका विवरण दर्ज करे !<i class="fa float-right"></i></h5>
                </a>
            </div>
        </div>
        <div id="previouDocumentDetailsId" class="row m-0 p-2 row-box-shade collapse show">
            <div class="form-group col-md-12">
                <label>पूर्ववर्ती दस्तावेज के विक्रेता का विवरण(नाम, पिता, जाति, निवास आदि)</label>
                <input type="number" class="form-control" name="purvaVartiVivranElementName" placeholder=""
                    [(ngModel)]="purvaVartiVivran"/>
            </div>
            <div class="form-group col-md-1">
                <label>पुस्तक संख्या</label>
                <input type="text" class="form-control" name="bookNoElementName" [(ngModel)]="bookNo"
                    placeholder="" />
            </div>
            <div class="form-group col-md-1">
                <label>जिल्द संख्या</label>
                <input type="number" class="form-control" name="jildNoElementName" placeholder=""
                    [(ngModel)]="jildNo" />
            </div>
            <div class="form-group col-md-1">
                <label>प्रष्ठ संख्या</label>
                <input type="number" class="form-control" name="pageNoElementName" placeholder=""
                    [(ngModel)]="pageNo" />
            </div>
            <div class="form-group col-md-1">
                <label>पंजीयन संख्या</label>
                <input type="number" class="form-control" name="panjiyanNoElementName" placeholder=""
                    [(ngModel)]="panjiyanNo" />
            </div>
            <div class="form-group col-md-2">
                <label>दिनांक</label>
                <div>
                    <input class="form-control" [owlDateTimeTrigger]="dt1" [owlDateTime]="dt1"
                        name="panjiyanDateElementName" [(ngModel)]="panjiyanDate" />
                    <owl-date-time [pickerType]="'calendar'" #dt1></owl-date-time>
                </div>
            </div>
            <div class="form-group col-md-1">
                <label>पट्टा संख्या</label>
                <input type="number" class="form-control" name="pattaNoElementName" placeholder=""
                    [(ngModel)]="pattaNo" />
            </div>
            <div class="form-group col-md-2">
                <label>पट्टा जारी करने की दिनांक</label>
                <div>
                    <input class="form-control" [owlDateTimeTrigger]="dt4" [owlDateTime]="dt4"
                        name="pattaInitiateDateElementName" [(ngModel)]="pattaInitiateDate" />
                    <owl-date-time [pickerType]="'calendar'" #dt4></owl-date-time>
                </div>
            </div>
        </div>
        <!-- Previous Document Details -->

        <!-- Extraa Property Details -->
        <div class="row ">
            <div class="col-12 pt-2">
                <a data-toggle="collapse" href="#bhoomiAtiriktVivran">
                    <h5 class="form-section-heading p-2">संपत्ति का अतिरिक्त विवरण (मुख्य सड़क, आबादी से दूरी, कुआं,
                        ट्यूबवेल आदि का विवरण यहाँ लिखे !) <i class="fa float-right"></i></h5>
                </a>
            </div>
        </div>
        <div class="collapse show" id="bhoomiAtiriktVivran">
        <div *ngFor="let item of bhoomiAtiriktVivaranList;let i = index; let last = last;">
            <div class="row m-0 p-2 row-box-shade align-items-end">
                <div class="form-group col-md-11">
                    <label>मुख्य सड़क, आबादी से दूरी, कुआं, ट्यूबवेल आदि या अन्य कोई विवरण यहाँ लिखे !</label>
                    <input type="text" class="form-control" name="atiriktVivaranElementName-{{i}}"
                        [(ngModel)]="item.atiriktVivaran" placeholder="" />
                </div>
                <div class="form-group col-md-1 pt-4">
                    <a *ngIf="bhoomiAtiriktVivaranList?.length > 1" href="javascript:void(0)" title="Remove Row"
                        (click)="deleteAtiriktVivran(i)"><i class="far fa-trash-alt fa-2x mr-2"></i></a>
                    <a *ngIf="last" href="javascript:void(0)" title="Add Row" (click)="addAtiriktVivran()"><i
                            class="far fa-plus-square fa-2x"></i></a>
                </div>
            </div>
            <hr *ngIf="bhoomiAtiriktVivaranList?.length > 1 && !last">
        </div></div>
        <!-- Extraa Property Details -->

        <!-- Stamp Details -->
        <div class="row">
            <div class="col-12 pt-2">
                <a data-toggle="collapse" href="#stampVivran">
                    <h5 class="form-section-heading p-2">संलग्न स्टाम्प का विवरण<i class="fa float-right"></i></h5>
                </a>
            </div>
        </div>
        <div id="stampVivran" class="row m-0 p-2 row-box-shade collapse show">
            <div class="form-group col-md-6">
                <label>स्टाम्प वेण्डर का नाम पता व लाइसेंस नंबर</label>
                <input type="text" class="form-control" name="stampVendorNameElementName" [(ngModel)]="stampVendorName"
                    placeholder="" />
            </div>
            <div class="form-group col-md-2">
                <label>स्टाम्प रजिस्टर क्रमांक</label>
                <input type="number" class="form-control" name="stampRegisterNoElementName" placeholder=""
                    [(ngModel)]="stampRegisterNo" />
            </div>
            <div class="form-group col-md-2">
                <label>स्टाम्प क्रय दिनांक</label>
                <div>
                    <input class="form-control" [owlDateTimeTrigger]="dt3" [owlDateTime]="dt3"
                        name="stampDateElementName" [(ngModel)]="stampDate" />
                    <owl-date-time [pickerType]="'calendar'" #dt3></owl-date-time>
                </div>
            </div>
            <div class="form-group col-md-2">
                <label>स्टामो की राशि</label>
                <input type="number" class="form-control" name="stampAmtElementName" placeholder=""
                    [(ngModel)]="stampAmt" />
            </div>
        </div>
        <!-- Stamp Details -->

        <!-- Witness Details -->
        <div class="row">
            <div class="col-12 pt-2">
                <a data-toggle="collapse" href="#witnessVivran">
                    <h5 class="form-section-heading p-2">साक्षियों का विवरण<i class="fa float-right"></i></h5>
                </a>
            </div>
        </div>
        <div class="collapse show" id="witnessVivran">
        <div *ngFor="let witness of witnessList;let i = index;let last = last;">
            <div class="row m-0 p-2 row-box-shade" [ngClass]="{'mb-4': last}">
                <div class="form-group col-md-2">
                    <label>नाम</label>
                    <input type="text" class="form-control" name="witnessNameElementName-{{i}}"
                        [(ngModel)]="witness.witnessName" placeholder="" />
                </div>
                <div class="form-group col-md-2">
                    <label>सम्बन्ध</label>
                    <ng-select name="sambandh-witness-{{i}}" [items]="cs.relationList" bindLabel="Name" bindValue="Name"
                        [(ngModel)]="witness.relation" placeholder="सम्बन्ध">
                    </ng-select>
                </div>
                <div class="form-group col-md-2">
                    <label>पिता/पति का नाम</label>
                    <input type="text" class="form-control" name="witnessRelativeElementName-{{i}}"
                        [(ngModel)]="witness.relativeName" placeholder="" />
                </div>

                <div class="form-group col-md-1">
                    <label>आयु</label>
                    <input type="number" class="form-control" name="witnessAgeElementName-{{i}}"
                        [(ngModel)]="witness.age" />
                </div>
                <div class="form-group col-md-2">
                    <label>जाति</label>
                    <input type="text" class="form-control" name="witnessCastElementName-{{i}}"
                        [(ngModel)]="witness.cast" />
                </div>
                <div class="form-group col-md-3">
                    <label>निवास</label>
                    <input type="text" class="form-control" name="witnessAddressElementName-{{i}}"
                        [(ngModel)]="witness.address" />
                </div>
                <div class="form-group col-md-2">
                    <label>तहसील</label>
                    <input type="text" class="form-control" name="witnessTahsilElementName-{{i}}"
                        [(ngModel)]="witness.tahsil" />
                </div>
                <div class="form-group col-md-2">
                    <label>जिला</label>
                    <input type="text" class="form-control" name="witnessDistrictElementName-{{i}}"
                        [(ngModel)]="witness.district" />
                </div>
                <div class="form-group col-md-2">
                    <label>आधार नंबर</label>
                    <input type="text" class="form-control" name="witnessAdharElementName-{{i}}"
                        [(ngModel)]="witness.aadharNo" />
                </div>
            </div>
            <hr *ngIf="witnessList?.length > 1 && !last">
        </div></div>
    </div>
    <!-- Witness Details -->
    <div class="footer-section card card-body text-center row-box-shade">
        <div class="row justify-content-center">
            <div class="col-md-4">
                <button class="btn submit-btn" type="submit"> Submit and Generate Word</button>
            </div>
        </div>
    </div>
</form>