
<!-- carousal-->
<section class="page-section carousal-section">
  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100" src="../../assets/img/img1.png" alt="First slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="../../assets/img/img2.png" alt="Second slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="../../assets/img/img3.png" alt="Third slide">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</section>
<!-- documents link card section-->
<section class="page-section" id="about">
  <div class="container">
    <h2 class="text-center">Available Services</h2>
    <hr class="divider my-4" />
    <div class="row justify-content-center">
      <ng-container *ngFor="let item of formArray">
        <div class="col-md-3 py-2 text-center">
          <a href="javascript:void(0)" (click)="navigateToForm(item.path)">
            <div class="card about-card">
              <div class="card-body">
                {{item?.Name}}
              </div>
            </div>
          </a>
        </div>
      </ng-container>
    </div>
  </div>
</section>
<!-- Services section-->
<section class="page-section" id="services">
  <div class="container">
    <h2 class="text-center mt-0">About Us</h2>
    <hr class="divider my-4" />
    <div class="row">
      <div class="col-lg-3 col-md-6 text-center">
        <div class="mt-5">
          <i class="fas fa-4x fa-gem text-primary mb-4"></i>
          <h3 class="h4 mb-2">Sturdy Themes</h3>
          <p class="text-muted mb-0">
            Our themes are updated regularly to keep them bug free!
          </p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="mt-5">
          <i class="fas fa-4x fa-laptop-code text-primary mb-4"></i>
          <h3 class="h4 mb-2">Up to Date</h3>
          <p class="text-muted mb-0">
            All dependencies are kept current to keep things fresh.
          </p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="mt-5">
          <i class="fas fa-4x fa-globe text-primary mb-4"></i>
          <h3 class="h4 mb-2">Ready to Publish</h3>
          <p class="text-muted mb-0">
            You can use this design as is, or you can make changes!
          </p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="mt-5">
          <i class="fas fa-4x fa-heart text-primary mb-4"></i>
          <h3 class="h4 mb-2">Made with Love</h3>
          <p class="text-muted mb-0">
            Is it really open source if it's not made with love?
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Portfolio section-->
<section id="portfolio">
  <div class="container-fluid p-0">
    <div class="row no-gutters">
      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box"
          href="../../assets/startbootstrap-creative-gh-pages/assets/img/portfolio/fullsize/1.jpg"><img
            class="img-fluid" src="../../assets/startbootstrap-creative-gh-pages/assets/img/portfolio/thumbnails/1.jpg"
            alt="" />
          <div class="portfolio-box-caption">
            <div class="project-category text-white-50">Category</div>
            <div class="project-name">Project Name</div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box"
          href="../../assets/startbootstrap-creative-gh-pages/assets/img/portfolio/fullsize/2.jpg"><img
            class="img-fluid" src="../../assets/startbootstrap-creative-gh-pages/assets/img/portfolio/thumbnails/2.jpg"
            alt="" />
          <div class="portfolio-box-caption">
            <div class="project-category text-white-50">Category</div>
            <div class="project-name">Project Name</div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box"
          href="../../assets/startbootstrap-creative-gh-pages/assets/img/portfolio/fullsize/3.jpg"><img
            class="img-fluid" src="../../assets/startbootstrap-creative-gh-pages/assets/img/portfolio/thumbnails/3.jpg"
            alt="" />
          <div class="portfolio-box-caption">
            <div class="project-category text-white-50">Category</div>
            <div class="project-name">Project Name</div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box"
          href="../../assets/startbootstrap-creative-gh-pages/assets/img/portfolio/fullsize/4.jpg"><img
            class="img-fluid" src="../../assets/startbootstrap-creative-gh-pages/assets/img/portfolio/thumbnails/4.jpg"
            alt="" />
          <div class="portfolio-box-caption">
            <div class="project-category text-white-50">Category</div>
            <div class="project-name">Project Name</div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box"
          href="../../assets/startbootstrap-creative-gh-pages/assets/img/portfolio/fullsize/5.jpg"><img
            class="img-fluid" src="../../assets/startbootstrap-creative-gh-pages/assets/img/portfolio/thumbnails/5.jpg"
            alt="" />
          <div class="portfolio-box-caption">
            <div class="project-category text-white-50">Category</div>
            <div class="project-name">Project Name</div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box"
          href="../../assets/startbootstrap-creative-gh-pages/assets/img/portfolio/fullsize/6.jpg"><img
            class="img-fluid" src="../../assets/startbootstrap-creative-gh-pages/assets/img/portfolio/thumbnails/6.jpg"
            alt="" />
          <div class="portfolio-box-caption p-3">
            <div class="project-category text-white-50">Category</div>
            <div class="project-name">Project Name</div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
<!-- Call to action section-->
<!-- <section class="page-section bg-dark text-white">
  <div class="container text-center">
    <h2 class="mb-4">Free Download at Start Bootstrap!</h2>
    <a class="btn btn-light btn-xl" href="https://startbootstrap.com/themes/creative/">Download Now!</a>
  </div>
</section> -->
<!-- Contact section-->
<section class="page-section" id="contact">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 text-center">
        <h2 class="mt-0">Get In Touch!</h2>
        <hr class="divider my-4" />
        <!-- <p class="text-muted mb-5">
          Ready to start your next project with us? Give us a call or send us an
          email and we will get back to you as soon as possible!
        </p> -->
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 ml-auto text-center mb-5 mb-lg-0">
        <i class="fas fa-phone fa-3x mb-3 text-muted"></i>
        <div><a href="tel:+91-9782258520" class="home-anchor">+91 9782258520</a></div>
      </div>
      <div class="col-lg-4 mr-auto text-center">
        <i class="fas fa-envelope fa-3x mb-3 text-muted"></i>
        <!-- Make sure to change the email address in BOTH the anchor text and the link target below!--><a
          class="d-block home-anchor" href="mailto:bharatprj28@gmail.com" >bharatprj28@gmail.com</a>
      </div>
    </div>
  </div>
</section>
<!-- Footer-->
<footer class="bg-light py-5">
  <div class="container">
    <div class="small text-center text-muted">
      Copyright © 2020 - Prop-Registry
    </div>
  </div>
</footer>