
#about.page-section {
  padding: 3rem !important;
  .about-card {
    border: 3px dashed var(--white);
    border-radius: 0.5rem;
    background-color: var(--home-color);
    .card-body{
      padding: 0.8rem;
    }
  }
  a {
    font-size: 1.2rem !important;
    color: var(--white) !important;
    font-weight: bold;
  }
  a:hover{
    // color: var(--black) !important;
    .about-card {
      transition: all 0.2s ease-out;
      box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
      top: -4px;
      // border: 3px dashed var(--black) !important;
      background-color: #5b013c !important;
    }
  }
}

.carousal-section {
  padding: 0px !important;
  img {
    height: auto !important;
  }
}
.text-muted{
  color: #5b013c !important;
}