hr {
  border-top: 1px solid var(--theme-color) !important;
}

.submit-btn {
  background-color: var(--white);
  color: var(--black);
  width: 100%;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 4rem;
}
.submit-btn:hover {
  background-color: var(--black);
  color: var(--white);
}