<div class="d-none"><button class="btn btn-primary" (click)="addDataFromJson()">Add default Data</button></div>
<h3 class="text-center font-weight-bold form-heading py-3">विक्रय-पत्र(Sale-Deed)</h3>
<form #saleDeedForm="ngForm" novalidate (ngSubmit)="submitForm()">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <a data-toggle="collapse" href="#vikretaSection">
                    <h5 class="form-section-heading p-2">विक्रेता का विवरण <i class="fa float-right"></i></h5>
                </a>
            </div>
        </div>
        <div class="collapse show" id="vikretaSection">
        <div *ngFor="let vikreta of vikretaList;let i = index;let last = last;">
            <div class="row m-0 p-2 row-box-shade align-items-end">
                <div class="form-group col-md-2">
                    <label>नाम</label>
                    <input type="text" class="form-control" name="vikretaElementName-{{i}}"
                        [(ngModel)]="vikreta.vikretaName" placeholder="" />
                </div>
                <div class="form-group col-md-2">
                    <label>सम्बन्ध</label>
                    <ng-select name="sambandh-{{i}}" [items]="cs.relationList" bindLabel="Name" bindValue="Name"
                        [(ngModel)]="vikreta.relation" placeholder="सम्बन्ध">
                    </ng-select>
                </div>
                <div class="form-group col-md-2">
                    <label>पिता/पति का नाम</label>
                    <input type="text" class="form-control" name="fatherElementName-{{i}}"
                        [(ngModel)]="vikreta.fatherName" placeholder="" />
                </div>

                <div class="form-group col-md-1">
                    <label>आयु</label>
                    <input type="number" class="form-control" name="ageElementName-{{i}}" [(ngModel)]="vikreta.age" />
                </div>
                <div class="form-group col-md-2">
                    <label>जाति</label>
                    <input type="text" class="form-control" name="castElementName-{{i}}" [(ngModel)]="vikreta.cast" />
                </div>
                <div class="form-group col-md-3">
                    <label>निवास</label>
                    <input type="text" class="form-control" name="addressElementName-{{i}}"
                        [(ngModel)]="vikreta.address" />
                </div>
                <div class="form-group col-md-2">
                    <label>तहसील</label>
                    <input type="text" class="form-control" name="tahsilElementName-{{i}}"
                        [(ngModel)]="vikreta.tahsil" />
                </div>
                <div class="form-group col-md-2">
                    <label>जिला</label>
                    <input type="text" class="form-control" name="districtElementName-{{i}}"
                        [(ngModel)]="vikreta.district" />
                </div>
                <div class="form-group col-md-2">
                    <label>आधार नंबर</label>
                    <input type="text" class="form-control" name="aadharElementName-{{i}}"
                        [(ngModel)]="vikreta.aadharNo" />
                </div>
                <div class="form-group col-md-2">
                    <label>पैन नंबर</label>
                    <input type="text" class="form-control" name="panNoElementName-{{i}}" [(ngModel)]="vikreta.panNo" />
                </div>
                <div class="form-group col-md-1">
                    <label>भूमि में हिस्सा</label>
                    <input type="text" class="form-control" name="bhoomiHissaElementName-{{i}}"
                        [(ngModel)]="vikreta.bhoomiHissa" />
                </div>
                <div class="form-group col-md-1 pt-4">
                    <a *ngIf="vikretaList?.length > 1" href="javascript:void(0)" title="Remove Row"
                        (click)="deleteVikreta(i)"><i class="far fa-trash-alt fa-2x mr-2"></i></a>
                    <a href="javascript:void(0)" title="Add Row" (click)="addVikreta()" *ngIf="last"><i
                            class="far fa-plus-square fa-2x"></i></a>
                </div>
                <!-- <div class="form-group col-md-1 pt-4" *ngIf="last">
                    <a href="javascript:void(0)" title="Add Row" (click)="addVikreta()"><i
                            class="far fa-plus-square fa-3x"></i></a>
                </div> -->
            </div>
            <hr *ngIf="vikretaList?.length > 1 && !last">
        </div></div>

        <div class="row">
            <div class="col-12 pt-2">
                <a data-toggle="collapse" href="#kretaSection">
                    <h5 class="form-section-heading p-2">क्रेता का विवरण <i class="fa float-right"></i></h5>
                </a>
            </div>
        </div>
        <div class="collapse show" id="kretaSection">
        <div *ngFor="let kreta of kretaList;let i = index;let last = last;">
            <div class="row m-0 p-2 row-box-shade align-items-end">
                <div class="form-group col-md-2">
                    <label>नाम</label>
                    <input type="text" class="form-control" name="vikretaElementName-kreta-{{i}}"
                        [(ngModel)]="kreta.vikretaName" placeholder="" />
                </div>
                <div class="form-group col-md-2">
                    <label>सम्बन्ध</label>
                    <ng-select name="sambandh-kreta-{{i}}" [items]="cs.relationList" bindLabel="Name" bindValue="Name"
                        [(ngModel)]="kreta.relation" placeholder="सम्बन्ध">
                    </ng-select>
                </div>
                <div class="form-group col-md-2">
                    <label>पिता/पति का नाम</label>
                    <input type="text" class="form-control" name="fatherElementName-kreta-{{i}}"
                        [(ngModel)]="kreta.fatherName" placeholder="" />
                </div>

                <div class="form-group col-md-1">
                    <label>आयु</label>
                    <input type="number" class="form-control" name="ageElementName-kreta-{{i}}"
                        [(ngModel)]="kreta.age" />
                </div>
                <div class="form-group col-md-2">
                    <label>जाति</label>
                    <input type="text" class="form-control" name="castElementName-kreta-{{i}}"
                        [(ngModel)]="kreta.cast" />
                </div>
                <div class="form-group col-md-3">
                    <label>निवास </label>
                    <input type="text" class="form-control" name="addressElementName-kreta-{{i}}"
                        [(ngModel)]="kreta.address" />
                </div>
                <div class="form-group col-md-2">
                    <label>तहसील</label>
                    <input type="text" class="form-control" name="tahsilElementName-kreta-{{i}}"
                        [(ngModel)]="kreta.tahsil" />
                </div>
                <div class="form-group col-md-2">
                    <label>जिला</label>
                    <input type="text" class="form-control" name="districtElementName-kreta-{{i}}"
                        [(ngModel)]="kreta.district" />
                </div>
                <div class="form-group col-md-2">
                    <label>आधार नंबर</label>
                    <input type="text" class="form-control" name="aadharElementName-kreta-{{i}}"
                        [(ngModel)]="kreta.aadharNo" />
                </div>
                <div class="form-group col-md-2">
                    <label>पैन नंबर</label>
                    <input type="text" class="form-control" name="panNoElementName-kreta-{{i}}"
                        [(ngModel)]="kreta.panNo" />
                </div>
                <div class="form-group col-md-1">
                    <label>भूमि में हिस्सा</label>
                    <input type="text" class="form-control" name="bhoomiHissaElementName-kreta-{{i}}"
                        [(ngModel)]="kreta.bhoomiHissa" />
                </div>
                <div class="form-group col-md-1 pt-4">
                    <a *ngIf="kretaList?.length > 1" href="javascript:void(0)" title="Remove Row"
                        (click)="deleteKreta(i)"><i class="far fa-trash-alt fa-2x mr-2"></i></a>
                    <a *ngIf="last" href="javascript:void(0)" title="Add Row" (click)="addKreta()"><i
                            class="far fa-plus-square fa-2x"></i></a>
                </div>
                <!-- <div class="form-group col-md-1 pt-4" >
                    <a href="javascript:void(0)" title="Add Row" (click)="addKreta()"><i
                            class="far fa-plus-square fa-3x"></i></a>
                </div> -->
            </div>
            <hr *ngIf="kretaList?.length > 1 && !last">
        </div></div>

        <div class="row">
            <div class="col-12 pt-2">
                <a data-toggle="collapse" href="#rashiVivran">
                    <h5 class="form-section-heading p-2">राशि का विवरण <i class="fa float-right"></i></h5>
                </a>
            </div>
        </div>
        <div class="collapse show" id="rashiVivran">
            <div class="row m-0">
                <div class="form-group col-md-2">
                    <label>विक्रय राशि (अंको में)</label>
                    <input type="text" class="form-control" name="vikrayRashielementName" [(ngModel)]="amountInNumber"
                        placeholder="" />
                </div>

                <div class="form-group col-md-5">
                    <label>विक्रय राशि (शब्दो में)</label>
                    <input type="text" class="form-control" name="vikrayRashiWordelementName" placeholder=""
                        [(ngModel)]="amountInWords" />
                </div>
                <div class="form-group col-md-2">
                    <label>नगद में प्राप्त राशि (अंको में)</label>
                    <input type="text" class="form-control" name="nakadAmountElementName" placeholder=""
                        [(ngModel)]="nakadAmount" />
                </div>
            </div>
            <div class="row m-0">
                <div class="col-12">
                    <h6 class="form-sub-section-heading p-1">चेक से दी गयी राशि का विवरण</h6>
                </div>
            </div>

            <ng-container *ngFor="let checkItem of checkList;let i = index; let last = last;">
                <div class="row m-0 row-box-shade align-items-end">
                    <div class="form-group col-md-2">
                        <label>चेक संख्या</label>
                        <input type="text" class="form-control" name="checkNo-{{i}}" [(ngModel)]="checkItem.checkNo"
                            placeholder="" />
                    </div>

                    <div class="form-group col-md-2">
                        <label>चेक की राशि</label>
                        <input type="number" class="form-control" name="checkAmt-{{i}}" placeholder=""
                            [(ngModel)]="checkItem.checkAmt" />
                    </div>
                    <div class="form-group col-md-2">
                        <label>चेक वाले बैंक का नाम</label>
                        <input type="text" class="form-control" name="bankName-{{i}}" placeholder=""
                            [(ngModel)]="checkItem.bankName" />
                    </div>
                    <div class="form-group col-md-1 pt-4">
                        <a *ngIf="checkList?.length > 1" href="javascript:void(0)" title="Remove Row"
                            (click)="deleteCheck(i)"><i class="far fa-trash-alt fa-2x mr-2"></i></a>
                        <a *ngIf="last" href="javascript:void(0)" title="Add Row" (click)="addCheck()"><i
                                class="far fa-plus-square fa-2x"></i></a>
                    </div>
                    <!-- <div class="form-group col-md-1 pt-4" >
                    <a href="javascript:void(0)" title="Add Row" (click)="addCheck()"><i
                            class="far fa-plus-square fa-3x"></i></a>
                </div> -->
                </div>
                <hr *ngIf="checkList?.length > 1 && !last">
            </ng-container>
        </div>
        <!-- Property Details -->
        <div class="row">
            <div class="col-12 pt-2">
                <a data-toggle="collapse" href="#bhoomiVivran">
                    <h5 class="form-section-heading p-2">भूमि का विवरण <i class="fa float-right"></i></h5>
                </a>
            </div>
        </div>
        <div class="collapse show" id="bhoomiVivran">
            <div class="row m-0 ">
                <div class="form-group col-md-2">
                    <label>उप पंजीयक कार्यालय का नाम</label>
                    <input type="text" class="form-control" name="upPanjiyakKaryalayElementName"
                        [(ngModel)]="upPanjiyakKaryalay" placeholder="" />
                </div>
                <div class="form-group col-md-1">
                    <label>तहसील</label>
                    <input type="text" class="form-control" name="propertyTahsilElementName"
                        [(ngModel)]="propertyTahsil" placeholder="" />
                </div>
                <div class="form-group col-md-1">
                    <label>उपतहसील</label>
                    <input type="text" class="form-control" name="propertyUpTahsilElementName"
                        [(ngModel)]="propertyUpTahsil" placeholder="" />
                </div>
                <div class="form-group col-md-1">
                    <label>जिला</label>
                    <input type="text" class="form-control" name="propertyjilaElementName"
                        [(ngModel)]="propertyDistrict" placeholder="" />
                </div>
                <div class="form-group col-md-2">
                    <label>क्षेत्रफल की ईकाई</label>
                    <ng-select name="unitOfAreaElementName" [items]="cs.unitOfAreaList" placeholder="क्षेत्रफल की ईकाई"
                        bindLabel="Name" bindValue="Name" [(ngModel)]="unitOfArea">
                    </ng-select>
                </div>
            </div>
            <ng-container *ngFor="let propertyParameter of propertyParametersList;let i = index; let last = last;">
                <div class="row m-0 row-box-shade align-items-end">
                    <div class="form-group col-md-1">
                        <label>गाँव का नाम</label>
                        <input type="text" class="form-control" name="villageElementName-{{i}}"
                            [(ngModel)]="propertyParameter.villageName" placeholder="" />
                    </div>
                    <div class="form-group col-md-1">
                        <label>पटवार मंडल</label>
                        <input type="text" class="form-control" name="patwarMandalElementName-{{i}}"
                            [(ngModel)]="propertyParameter.patwarMandal" placeholder="" />
                    </div>
                    <div class="form-group col-md-1">
                        <label>जमाबंदी संवत</label>
                        <input type="text" class="form-control" name="jamaBandElementName-{{i}}"
                            [(ngModel)]="propertyParameter.jamabandiSamvat" placeholder="" />
                    </div>
                    <div class="form-group col-md-1">
                        <label>खाता संख्या</label>
                        <input type="text" class="form-control" name="khataSankhyaElementName-{{i}}"
                            [(ngModel)]="propertyParameter.khataSankhya" placeholder="" />
                    </div>

                    <div class="form-group col-md-1">
                        <label>खसरा संख्या</label>
                        <input type="number" class="form-control" name="khasraSankhyaElementName-{{i}}" placeholder=""
                            [(ngModel)]="propertyParameter.khasraSankhya" />
                    </div>
                    <div class="form-group col-md-1">
                        <label>क्षैत्रफल</label>
                        <input type="text" class="form-control" name="kshetrafalElementName-{{i}}" placeholder=""
                            [(ngModel)]="propertyParameter.kshetrafal" />
                    </div>
                    <div class="form-group col-md-1">
                        <label>भूमि किस्म</label>
                        <input type="text" class="form-control" name="bhoomiKismElementName-{{i}}" placeholder=""
                            [(ngModel)]="propertyParameter.bhoomiKism" />
                    </div>
                    <div class="form-group col-md-2">
                        <label>विक्रेताओ के विक्रय हिस्से का विवरण</label>
                        <input type="text" class="form-control" name="vikrayVivaranElementName-{{i}}" placeholder=""
                            [(ngModel)]="propertyParameter.vikrayVivaran" />
                    </div>
                    <div class="form-group col-md-2">
                        <label>सिंचित / असिंचित</label>
                        <ng-select name="sinchitTypeElementName-{{i}}" [items]="cs.landTypeList"
                            placeholder="सिंचित / असिंचित" bindLabel="Name" bindValue="Name"
                            [(ngModel)]="propertyParameter.sinchitType">
                        </ng-select>
                    </div>
                    <div class="form-group col-md-1 pt-4">
                        <a *ngIf="propertyParametersList?.length > 1" href="javascript:void(0)" title="Remove Row"
                            (click)="deletePropertyParameters(i)"><i class="far fa-trash-alt fa-2x mr-2"></i></a>
                        <a *ngIf="last" href="javascript:void(0)" title="Add Row" (click)="addPropertyParameters()"><i
                                class="far fa-plus-square fa-2x"></i></a>
                    </div>
                    <!-- <div class="form-group col-md-1 pt-4" >
                    <a href="javascript:void(0)" title="Add Row" (click)="addPropertyParameters()"><i
                            class="far fa-plus-square fa-3x"></i></a>
                </div> -->
                </div>
                <hr *ngIf="propertyParametersList?.length > 1 && !last">
            </ng-container>
        </div>
        <!-- Property Details -->

        <!-- Extraa Property Details -->
        <div class="row ">
            <div class="col-12 pt-2">
                <a data-toggle="collapse" href="#bhoomiAtiriktVivran">
                    <h5 class="form-section-heading p-2">संपत्ति का अतिरिक्त विवरण (मुख्य सड़क, आबादी से दूरी, कुआं,
                        ट्यूबवेल आदि का विवरण यहाँ लिखे !) <i class="fa float-right"></i></h5>
                </a>
            </div>
        </div>
        <div class="collapse show" id="bhoomiAtiriktVivran">
        <div *ngFor="let item of bhoomiAtiriktVivaranList;let i = index; let last = last;">
            <div class="row m-0 p-2 row-box-shade align-items-end">
                <div class="form-group col-md-11">
                    <label>मुख्य सड़क, आबादी से दूरी, कुआं, ट्यूबवेल आदि या अन्य कोई विवरण यहाँ लिखे !</label>
                    <input type="text" class="form-control" name="atiriktVivaranElementName-{{i}}"
                        [(ngModel)]="item.atiriktVivaran" placeholder="" />
                </div>
                <div class="form-group col-md-1 pt-4">
                    <a *ngIf="bhoomiAtiriktVivaranList?.length > 1" href="javascript:void(0)" title="Remove Row"
                        (click)="deleteAtiriktVivran(i)"><i class="far fa-trash-alt fa-2x mr-2"></i></a>
                    <a *ngIf="last" href="javascript:void(0)" title="Add Row" (click)="addAtiriktVivran()"><i
                            class="far fa-plus-square fa-2x"></i></a>
                </div>
                <!-- <div class="form-group col-md-1 pt-4" >
                    <a href="javascript:void(0)" title="Add Row" (click)="addAtiriktVivran()"><i
                            class="far fa-plus-square fa-3x"></i></a>
                </div> -->
            </div>
            <hr *ngIf="bhoomiAtiriktVivaranList?.length > 1 && !last">
        </div></div>
        <!-- Extraa Property Details -->

        <!-- Stamp Details -->
        <div class="row">
            <div class="col-12 pt-2">
                <a data-toggle="collapse" href="#stampVivran">
                    <h5 class="form-section-heading p-2">संलग्न स्टाम्प का विवरण<i class="fa float-right"></i></h5>
                </a>
            </div>
        </div>
        <div id="stampVivran" class="row m-0 p-2 row-box-shade collapse show">
            <div class="form-group col-md-6">
                <label>स्टाम्प वेण्डर का नाम पता व लाइसेंस नंबर</label>
                <input type="text" class="form-control" name="stampVendorNameElementName" [(ngModel)]="stampVendorName"
                    placeholder="" />
            </div>
            <div class="form-group col-md-2">
                <label>स्टाम्प रजिस्टर क्रमांक</label>
                <input type="number" class="form-control" name="stampRegisterNoElementName" placeholder=""
                    [(ngModel)]="stampRegisterNo" />
            </div>
            <div class="form-group col-md-2">
                <label>स्टाम्प क्रय दिनांक</label>
                <div>
                    <input class="form-control" [owlDateTimeTrigger]="dt3" [owlDateTime]="dt3"
                        name="stampDateElementName" [(ngModel)]="stampDate" />
                    <owl-date-time [pickerType]="'calendar'" #dt3></owl-date-time>
                </div>
            </div>
            <div class="form-group col-md-2">
                <label>स्टामो की राशि</label>
                <input type="number" class="form-control" name="stampAmtElementName" placeholder=""
                    [(ngModel)]="stampAmt" />
            </div>
        </div>
        <!-- Stamp Details -->

        <!-- Witness Details -->
        <div class="row">
            <div class="col-12 pt-2">
                <a data-toggle="collapse" href="#witnessVivran">
                    <h5 class="form-section-heading p-2">साक्षियों का विवरण<i class="fa float-right"></i></h5>
                </a>
            </div>
        </div>
        <div class="collapse show" id="witnessVivran">
        <div *ngFor="let witness of witnessList;let i = index;let last = last;">
            <div class="row m-0 p-2 row-box-shade" [ngClass]="{'mb-4': last}">
                <div class="form-group col-md-2">
                    <label>नाम</label>
                    <input type="text" class="form-control" name="witnessNameElementName-{{i}}"
                        [(ngModel)]="witness.witnessName" placeholder="" />
                </div>
                <div class="form-group col-md-2">
                    <label>सम्बन्ध</label>
                    <ng-select name="sambandh-witness-{{i}}" [items]="cs.relationList" bindLabel="Name" bindValue="Name"
                        [(ngModel)]="witness.relation" placeholder="सम्बन्ध">
                    </ng-select>
                </div>
                <div class="form-group col-md-2">
                    <label>पिता/पति का नाम</label>
                    <input type="text" class="form-control" name="witnessRelativeElementName-{{i}}"
                        [(ngModel)]="witness.relativeName" placeholder="" />
                </div>

                <div class="form-group col-md-1">
                    <label>आयु</label>
                    <input type="number" class="form-control" name="witnessAgeElementName-{{i}}"
                        [(ngModel)]="witness.age" />
                </div>
                <div class="form-group col-md-2">
                    <label>जाति</label>
                    <input type="text" class="form-control" name="witnessCastElementName-{{i}}"
                        [(ngModel)]="witness.cast" />
                </div>
                <div class="form-group col-md-3">
                    <label>निवास</label>
                    <input type="text" class="form-control" name="witnessAddressElementName-{{i}}"
                        [(ngModel)]="witness.address" />
                </div>
                <div class="form-group col-md-2">
                    <label>तहसील</label>
                    <input type="text" class="form-control" name="witnessTahsilElementName-{{i}}"
                        [(ngModel)]="witness.tahsil" />
                </div>
                <div class="form-group col-md-2">
                    <label>जिला</label>
                    <input type="text" class="form-control" name="witnessDistrictElementName-{{i}}"
                        [(ngModel)]="witness.district" />
                </div>
                <div class="form-group col-md-2">
                    <label>आधार नंबर</label>
                    <input type="text" class="form-control" name="witnessAdharElementName-{{i}}"
                        [(ngModel)]="witness.aadharNo" />
                </div>
            </div>
            <hr *ngIf="witnessList?.length > 1 && !last">
        </div></div>
    </div>
    <!-- Witness Details -->
    <div class="footer-section card card-body text-center row-box-shade">
        <div class="row justify-content-center">
            <div class="col-md-4">
                <button class="btn submit-btn" type="submit"> Submit and Generate Word</button>
            </div>
        </div>
    </div>
</form>